<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
                <rule name="LowerCaseURL" enabled="true" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
                <rule name="CookieLink" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^(.*)(search|product|copyright|table|release)\/(.*)?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^(.*)(search|product|copyright|table|release)\/(.*)?$" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_COOKIE" value="{C:2}={C:3}; path=/; secure" />
                    </serverVariables>
                    <action type="Redirect" url="{C:1}" appendQueryString="true" logRewrittenUrl="false" redirectType="Found" />
                </rule>
            </rules>
            <outboundRules>
				<rule name="Hide Server Header">
				  <match serverVariable="RESPONSE_Server" pattern=".+" />
				  <action type="Rewrite" value="n/a" />
				</rule>
                <rule name="CookieLink" preCondition="RequestURI" stopProcessing="false">
                    <match serverVariable="RESPONSE_Set_Cookie" pattern="(.*)" />
                    <action type="Rewrite" value="{C:0}" />
                    <conditions>
                        <add input="{HTTP_COOKIE}" pattern="(search|product|copyright|table|release)=(.*)" />
                    </conditions>
                </rule>
                <preConditions>
                    <preCondition name="RequestURI">
                        <add input="{REQUEST_URI}" pattern="^(.*)(search|product|copyright|table|release)\/(.*)?$" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
