/client/config/config.live.json
/client/config/config.test.json
/client/config/config.uat.json
/server/PxStat/Properties/PublishProfiles/DEV.pubxml
/server/PxStat/Properties/PublishProfiles/Live.pubxml
/server/PxStat/Properties/PublishProfiles/TEST.pubxml
/server/PxStat/Properties/PublishProfiles/UAT.pubxml
/server/PxStat/Resources/Config/config.global.test.json
/server/PxStat/Resources/Config/config.global.uat.json
/server/PxStat/Resources/Config/config.global.live.json
/server/PxStat/PxStat.csproj.user
/server/PxStat/Properties/PublishProfiles/UAT.pubxml.user
/server/PxStat/Properties/PublishProfiles/TEST.pubxml.user
/server/PxStat/Properties/PublishProfiles/Live.pubxml.user
/server/.vs
/db/Thumbs.db
/server/PxStat/Properties/PublishProfiles/Dev.pubxml.user
