/client/config/config.live.json
/client/config/config.test.json
/client/config/config.uat.json
/server/PxStat/Properties/PublishProfiles/DEV.pubxml
/server/PxStat/Properties/PublishProfiles/Live.pubxml
/server/PxStat/Properties/PublishProfiles/TEST.pubxml
/server/PxStat/Properties/PublishProfiles/UAT.pubxml
/server/PxStat/Resources/Config/config.global.test.json
/server/PxStat/Resources/Config/config.global.uat.json
/server/PxStat/Resources/Config/config.global.live.json
/server/PxStat/PxStat.csproj.user
/server/PxStat/Properties/PublishProfiles/UAT.pubxml.user
/server/PxStat/Properties/PublishProfiles/TEST.pubxml.user
/server/PxStat/Properties/PublishProfiles/Live.pubxml.user
/server/.vs
/db/Thumbs.db
/server/PxStat/Properties/PublishProfiles/Dev.pubxml.user
/server/PxStat/bin
/server/PxStat/obj
/server/PxStat.DataMatrix.Test
/utilities/Px5Migrator/.vs
/client/config/config.demo.json
/client/css/app.bootstrap.guideline.demo.css
/client/css/app.bootstrap.guideline.demo.css.map
/client/css/app.bootstrap.guideline.demo.scss
/client/index.demo.html
