/*******************************************************************************
Application - Media
*******************************************************************************/

/* 
* Bootstrap fix for printing modal in isolation over multiple pages
*/

@media print {
    .modal, .modal * {
        overflow: visible !important;
    }
    .modal {
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        visibility: visible !important;
    }
    .modal-dialog {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
    }
}