<?xml version="1.0" encoding="utf-8" ?>
<appStatic>
	<!-- 
  ********************************************************************** 
  APP - Default
  ********************************************************************** 
  -->
	<add key="APP_DEFAULT_LANGUAGE" value="en"/>
	<add key="APP_DEFAULT_DATASET_FORMAT" value="JSON-stat"/>
	<add key="APP_DEFAULT_DATETIME_FORMAT" value="yyyy-MM-ddTH:mm:ss.fffZ"/>
	<add key="APP_DEFAULT_GROUP" value="GROUP" />
	<add key="APP_DEFAULT_SOURCE" value="SOURCE"/>
	<add key="APP_DEFAULT_FORMAT_DIRECTION" value="DOWNLOAD" />

	<!-- 
  ********************************************************************** 
  APP - Internationalisation
  ********************************************************************** 
  -->
	<add key="APP_INTERNATIONALISATION_SYNONYM_FILE" value="synonym_"/>
	<add key="APP_INTERNATIONALISATION_MORPHOLOGY_FILE" value="dictionary_"/>
	<add key="APP_INTERNATIONALISATION_KEYWORD_FILE" value="keyword_" />
	<add key="APP_INTERNATIONALISATION_ENGLISH" value="en"/>
	<add key="APP_INTERNATIONALISATION_IRISH" value="ga"/>
	<add key="APP_INTERNATIONALISATION_POLISH" value="pl"/>
	<add key="APP_INTERNATIONALISATION_EXTRACTOR_CLASS_NAME" value="PxStat.Resources.Keyword_" />

	<!-- 
  ********************************************************************** 
  APP - Miscellaneous
  ********************************************************************** 
  -->
	<add key="APP_BULKCOPY_TRANCHE_MULTIPLIER" value="10"/>
	<add key="APP_GEO_MIMETYPE" value="application/geo+json"/>
	<add key="APP_JSON_MIMETYPE" value="application/json"/>
	<add key="APP_PX_MIMETYPE" value="text/px"/>
	<add key="APP_CSV_MIMETYPE" value="text/csv"/>
	<add key="APP_MASK_CONFIDENTIAL" value="********"/>
	<add key="APP_SALSA" value="CJLYXR5IiwiS2ltYmVybHkiLCJLcmlzdGluYSIsDQoiTGFy"/>
	<add key="APP_PX_NAME" value="px"/>
	<add key="APP_JSON_STAT_NAME" value="JSON-stat" />
	<add key="APP_JSON_NAME" value="json" />
	<add key="APP_CSV_NAME" value="csv" />
	<add key="APP_FORMAT_DOWNLOAD_NAME" value="DOWNLOAD"/>
	<add key="APP_FORMAT_UPLOAD_NAME" value="UPLOAD"/>

	<!-- 
  ********************************************************************** 
  APP - csv
  ********************************************************************** 
  -->
	<add key="APP_CSV_DIVIDER" value=" - "/>
	<add key="APP_CSV_STATISTIC" value="STATISTIC"/>
	<add key="APP_CSV_VALUE" value="VALUE" />
	<add key="APP_CSV_UNIT" value="UNIT" />

	<!-- 
  ********************************************************************** 
  APP - PX 
  ********************************************************************** 
  -->
	<add key="APP_PX_DEFAULT_OFFICIAL_STATISTIC" value="YES"/>
	<add key="APP_PX_DEFAULT_FORMAT" value="PX"/>
	<add key="APP_PX_DEFAULT_AXIS_VERSION" value="2013"/>
	<add key="APP_PX_DEFAULT_CHARSET" value="ANSI"/>
	<add key="APP_PX_CONFIDENTIAL_VALUE" value=".."/>
	<add key="APP_PX_MULTILINE_CHAR_LIMIT" value="120" />
	<add key="APP_PX_DATE_TIME_FORMAT" value="yyyyMMdd HH:mm" />
	<add key="APP_PX_TRUE" value="YES" />
	<add key="APP_PX_FALSE" value="NO" />
	<add key="APP_PX_DEFAULT_UNITS" value="-"/>
	<!-- Internationalization on Client Side -->
	<add key="APP_PX_FREQUENCY_CODES" value="TLIST(A1)/annual,TLIST(H1)/half-yearly,TLIST(Q1)/quarterly,TLIST(M1)/monthly,TLIST(W1)/weekly"/>
	<add key ="APP_PX_EMBARGO_DAYS" value="1,2,3,4,5" />
	<add key ="APP_PX_EMBARGO_TIME" value="11:00" />

	<!-- 
  **********************************************************************
  APP - Regular Expressions
  **********************************************************************
  -->
	<add key="APP_REGEX_PHONE" value="^(\(\+\d{1,3}\) \d+ \d+ \d+)$" />
	<add key="APP_REGEX_EMAIL" value="^([\w-\.\+]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|([\w-\.\+]+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" />
	<add key="APP_REGEX_URL" value ="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})" />
	<add key="APP_REGEX_ALPHA" value="^[\p{L}\s]+$" />
	<add key="APP_REGEX_ALPHA_NUMERIC" value="^[\p{L}0-9\s]+$" />
	<add key="APP_REGEX_MASKED_IP" value="^\d{1,3}\.\d{1,3}\.\d{1,3}$|^\d{1,3}$|^\d{1,3}\.\d{1,3}$" />
	<add key="APP_REGEX_NO_WHITESPACE" value="^((?!\s).)*$" />
	<add key ="APP_BUILD_REGEX_FORBIDDEN_CHARS" value="^((?![&quot;]).)*\Z" />

	<!--
  **********************************************************************
  APP - Analytics 
  **********************************************************************
  -->
	<add key ="APP_SECURITY_ANALYTIC_READ_OS_ITEM_LIMIT" value="3" />
	<add key ="APP_SECURITY_ANALYTIC_READ_BROWSER_ITEM_LIMIT" value="4" />
	<add key ="APP_SECURITY_ANALYTIC_READ_REFERER_ITEM_LIMIT" value="5" />
	<add key ="APP_SECURITY_ANALYTIC_REFERER_NA" value="n/a" />

	<!--
  **********************************************************************
  APP - Cache 
  **********************************************************************
  -->
	<add key="APP_CACHE_READ_ATTRIBUTE" value="CacheRead" />
	<add key="APP_CACHE_FLUSH_ATTRIBUTE" value="CacheFlush" />

	<!--
  **********************************************************************
  APP - Cookie link
  **********************************************************************
  -->
	<add key="APP_COOKIELINK_RELEASE" value="release" />
	<add key="APP_COOKIELINK_TABLE" value="table"/>
</appStatic>
