<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  Test Web Config transformation
  https://webconfigtransformationtester.apphb.com/
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<!-- 
	********************************************************************** 
	IIS - Compilation & Worker limit
	********************************************************************** 
	-->
	<system.web>
		<compilation xdt:Transform="Replace" debug="false" targetFramework="4.7.2" />
	</system.web>

	<!-- 
	********************************************************************** 
	CORS - Cross-Origin Resource Sharing
	********************************************************************** 
	-->
	<system.webServer>
		<rewrite xdt:Transform="Replace">
			<rules>
				<rule name="HTTP to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
				</rule>
				<rule name="DataLink" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="^jsonrpc\/(json|json-stat|px|csv)\/(.*)$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/public/api.jsonrpc?data={UrlDecode:%7B}&quot;jsonrpc&quot;:&quot;2.0&quot;,&quot;method&quot;:&quot;PxStat.Data.Cube_API.ReadDataset&quot;,&quot;params&quot;:{UrlDecode:%7B}&quot;matrix&quot;:&quot;{R:2}&quot;,&quot;format&quot;:&quot;{R:1}&quot;{UrlDecode:%7D}{UrlDecode:%7D}" appendQueryString="false" logRewrittenUrl="false" redirectType="Found" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="Hide Server Header">
					<match serverVariable="RESPONSE_Server" pattern=".+" />
					<action type="Rewrite" value="n/a" />
				</rule>
				<!-- Private CORS - Default -->
				<rule name="Access-Control-Allow-Origin" enabled="true" patternSyntax="Wildcard">
					<match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern="*" />
					<conditions trackAllCaptures="false"></conditions>
					<action type="Rewrite" value="{HTTP_ORIGIN}" />
				</rule>
				<!-- Private CORS - DNS filter -->
				<!--
				<rule name="WWW-Authenticate" enabled="true" patternSyntax="Wildcard">
                    <match serverVariable="RESPONSE_WWW-Authenticate" pattern="*" />
                    <conditions>
            <add input="{HTTP_ORIGIN}" pattern="https://data.cso.ie" negate="true" />
                    </conditions>
                    <action type="Rewrite" value="Anonymous" />
                </rule>
				-->
				<!-- Private CORS - IP filter -->
				<!-- Use HTTP_X_FORWARDED_FOR instead of REMOTE_ADDR when behind Load Balancer -->
				<rule name="WWW-Authenticate" enabled="true" patternSyntax="Wildcard">
					<match serverVariable="RESPONSE_WWW-Authenticate" pattern="*" />
					<conditions>
						<add input="{HTTP_X_FORWARDED_FOR}" pattern="137.191.243.100" negate="true" />
					</conditions>
					<action type="Rewrite" value="Anonymous" />
				</rule>
			</outboundRules>
		</rewrite>
	</system.webServer>

	<appSettings xdt:Transform="Replace">
		<!-- 
	********************************************************************** 
	API - JSONRPC
	********************************************************************** 
	-->

		<!-- JSONRPC - Maintenance flag [TRUE, FALSE] -->
		<add key="API_JSONRPC_MAINTENANCE" value="FALSE" />
		<!-- JSONRPC - Success response (case sensitive) -->
		<add key="API_JSONRPC_SUCCESS" value="success" />
		<!-- JSONRPC - Windows Authentication [ANONYMOUS, WINDOWS, ANY] -->
		<add key="API_JSONRPC_AUTHENTICATION_TYPE" value="ANY" />
		<!-- JSONRPC - Stateless [TRUE, FALSE] -->
		<add key="API_JSONRPC_STATELESS" value="TRUE" />
		<!-- JSONRPC - Mask parameters (comas separated, case insensitive) -->
		<add key="API_JSONRPC_MASK_PARAMETERS" value="MtrInput" />

		<!-- 
	********************************************************************** 
	API - Active Directory
	********************************************************************** 
	-->

		<!-- Active Directory - Domain -->
		<add key="API_AD_DOMAIN" value="CSOCORK" />
		<!-- Active Directory - Path -->
		<add key="API_AD_PATH" value="" />
		<!-- Active Directory - Username -->
		<add key="API_AD_USERNAME" value="pxstat" />
		<!-- Active Directory - Password -->
		<add key="API_AD_PASSWORD" value=")R7$z1.Oj" />

		<!-- 
  ********************************************************************** 
  API - ReCAPTCHA 
  ********************************************************************** 
  -->
		<!-- ReCAPTCHA - Switch on [TRUE] or off [FALSE] the ReCaptcha -->
		<add key="API_RECAPTCHA_ENABLED" value="FALSE"/>
		<!-- ReCAPTCHA - URL -->
		<add key="API_RECAPTCHA_URL" value="https://www.google.com/recaptcha/api/siteverify?secret={0}&amp;response={1}"/>
		<!-- ReCAPTCHA - Private Key -->
		<add key="API_RECAPTCHA_PRIVATE_KEY" value=""/>
		<!-- 
  ********************************************************************** 
  API - eMail 
  ********************************************************************** 
  -->
		<!-- EMAIL - MAIL - Switch on [TRUE] or off [FALSE] the Email service -->
		<add key="API_EMAIL_ENABLED" value="TRUE" />
		<!-- EMAIL - MAIL - NoReply email address -->
		<add key="API_EMAIL_MAIL_NOREPLY" value="noreply.data@cso.ie" />
		<!-- EMAIL - MAIL - Sender email address -->
		<add key="API_EMAIL_MAIL_SENDER" value="noreply.data@cso.ie"/>
		<!-- EMAIL - SMTP - Server IP address -->
		<add key="API_EMAIL_SMTP_SERVER" value="3.1.2.22"/>
		<!-- EMAIL - SMTP - Port number -->
		<add key="API_EMAIL_SMTP_PORT" value="25" />
		<!-- EMAIL - SMTP - Switch on [TRUE] or off [FALSE] the authentication -->
		<add key="API_EMAIL_SMTP_AUTHENTICATION" value="FALSE"/>
		<!-- EMAIL - SMTP - Set the Username if authentication is required -->
		<add key="API_EMAIL_SMTP_USERNAME" value=""/>
		<!-- EMAIL - SMTP - Set the Password if authentication is required -->
		<add key="API_EMAIL_SMTP_PASSWORD" value=""/>
		<!-- EMAIL - SMTP - Switch on [TRUE] or off [FALSE] the SSL -->
		<add key="API_EMAIL_SMTP_SSL" value="FALSE"/>
		<!-- EMAIL - TEMPLATE - Datetime Mask  -->
		<add key="API_EMAIL_DATETIME_MASK" value="dd/MM/yyyy - HH:mm:ss" />

		<!-- 
	********************************************************************** 
	API - ADO 
	********************************************************************** 
	-->

		<!-- ADO - Default Connection Name -->
		<add key="API_ADO_DEFAULT_CONNECTION" value="defaultConnection" />
		<!-- ADO - Execution timeout in seconds -->
		<add key="API_ADO_EXECUTION_TIMEOUT" value="3600" />
		<!-- ADO - Bulk Copy timeout in seconds -->
		<add key="API_ADO_BULKCOPY_TIMEOUT" value="3600" />
		<!-- ADO - Bulk Copy BatchSize in number of rows -->
		<add key="API_ADO_BULKCOPY_BATCHSIZE" value="50000" />

		<!-- 
	********************************************************************** 
	API - MemCacheD 
	********************************************************************** 
	-->
		<!-- MemCacheD - Switch on [TRUE] or off [FALSE] the MemCacheD -->
		<add key="API_MEMCACHED_ENABLED" value="TRUE" />
		<!-- MemCacheD - Maximum validity in number of seconds that MemCacheD can handle (30 days = 2592000) -->
		<add  key="API_MEMCACHED_MAX_VALIDITY" value="2592000" />
		<!-- MemCacheD - Salsa code to isolate the cache records form other applications or environments -->
		<add key="API_MEMCACHED_SALSA" value="ws.cso.ie" />

		<!-- 
	********************************************************************** 
	APP - Application 
	********************************************************************** 
	-->
		<!-- Applicaiton - Name -->
		<add key="APP_NAME" value="data.cso.ie" />
		<!-- Applicaiton - URL -->
		<add key="APP_URL" value="https://data.cso.ie"/>

	</appSettings>

	<!-- 
	********************************************************************** 
	DB - Connection Strings 
	********************************************************************** 
	-->
	<connectionStrings xdt:Transform="Replace">
		<add name="defaultConnection" connectionString="Server=10.7.3.31;Initial Catalog=pxstat.live;User ID=pxstat;Password=7-Ph1Tw9?;Persist Security Info=False;Column Encryption Setting=enabled;" />
		<add name="msdbConnection" connectionString="Server=10.7.3.31;Initial Catalog=msdb;User ID=pxstat;Password=7-Ph1Tw9?;Persist Security Info=False;Column Encryption Setting=enabled;" />
	</connectionStrings>


	<!-- 
	********************************************************************** 
	CACHE - MemCacheD 
	********************************************************************** 
	-->
	<enyim.com xdt:Transform="Replace">
		<memcached protocol="Binary">
			<servers>
				<!-- N.B. Make sure you use the same ordering of nodes in every configuration you have -->
				<add address="10.7.1.13" port="11211" />
				<add address="10.7.1.14" port="11211" />
				<add address="10.7.1.16" port="11211" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="20" connectionTimeout="00:00:10" deadTimeout="00:00:10" />
		</memcached>
	</enyim.com>

	<!-- 
	********************************************************************** 
	LOGGING - Log4Net 
	********************************************************************** 
	-->
	<log4net xdt:Transform="Replace">
		<root>
			<!-- Set the level to ERROR for Live/UAT and ALL for TD-->
			<level value="ERROR"/>

			<appender-ref ref="FileAppender"/>
			<appender-ref ref="SmtpAppender"/>
			<appender-ref ref="AdoNetAppender"/>
		</root>

		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<!-- Set threshold to ERROR for Live/UAT and ALL for TD-->
			<threshold value="ERROR"/>
			<file type="log4net.Util.PatternString" value="Logs\Log4Net.[%processid].log"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %class.%method:%line - %message%newline"/>
			</layout>
			<lockingModel type="log4net.Appender.FileAppender+InterProcessLock" />
		</appender>

		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<!-- Set threshold to ERROR for Live/UAT and OFF for TD-->
			<threshold value="ERROR" />
			<!-- List of coma separated emails for the recipients -->
			<to value="dissemination@cso.ie" />
			<!-- Email of the sender -->
			<from value="noreply.data@cso.ie" />
			<!-- Email's subject -->
			<subject type="log4net.Util.PatternString" value="data.cso.ie - Error log" />
			<!-- SMTP IP address -->
			<smtpHost value="3.1.2.22" />
			<!-- SMTP IP port -->
			<port value="25" />
			<authentication value="None" />
			<bufferSize value="1" />
			<lossy value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %class.%method:%line - %message%newline"/>
			</layout>
		</appender>

		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<!-- Set threshold to ERROR for Live/UAT and ALL for TD-->
			<threshold value="ERROR" />
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="Server=10.7.3.31;Initial Catalog=pxstat.live;User ID=pxstat;Password=7-Ph1Tw9?;Persist Security Info=False;Column Encryption Setting=enabled;" />
			<commandText value="INSERT INTO TD_LOGGING ([LGG_DATETIME],[LGG_THREAD],[LGG_LEVEL],[LGG_CLASS],[LGG_METHOD],[LGG_LINE],[LGG_MESSAGE],[LGG_EXCEPTION]) VALUES (@Datetime,@Thread,@Level,@Class,@Method,@Line,@Message,@Exception)" />
			<parameter>
				<parameterName value="@Datetime" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@Thread" />
				<dbType value="String" />
				<size value="8" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Level" />
				<dbType value="String" />
				<size value="8" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Class" />
				<dbType value="String" />
				<size value="256" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%class" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Method" />
				<dbType value="String" />
				<size value="256" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%method" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Line" />
				<dbType value="String" />
				<size value="8" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%line" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Message" />
				<dbType value="String" />
				<size value="-1" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Exception" />
				<dbType value="String" />
				<size value="-1" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>
	</log4net>

</configuration>
