CREATE
	OR

ALTER PROCEDURE [dbo].[Data_Matrix_ReadDmatrixByRelease] @RlsCode INT
	,@LngIsoCode CHAR(2)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT MTR_CODE AS MtrCode
		,MTR_ID AS MtrId
		,MTR_TITLE AS MtrTitle
		,MTR_OFFICIAL_FLAG AS MtrOfficialFlag
		,MTR_NOTE AS MtrNote
		,FRM_TYPE AS FrmType
		,FRM_VERSION AS FrmVersion
		,LNG_ISO_CODE AS LngIsoCode
		,CPR_CODE AS CprCode
		,CPR_VALUE AS CprValue
		,CPR_URL AS CprUrl
	FROM TD_MATRIX
	INNER JOIN TD_RELEASE ON RLS_ID = MTR_RLS_ID
		AND MTR_DELETE_FLAG = 0
		AND RLS_DELETE_FLAG = 0
		AND RLS_CODE = @RlsCode
	INNER JOIN TS_LANGUAGE ON MTR_LNG_ID = LNG_ID
		AND LNG_ISO_CODE = @LngIsoCode
	INNER JOIN TS_FORMAT ON MTR_FRM_ID = FRM_ID
	INNER JOIN TS_COPYRIGHT ON MTR_CPR_ID = CPR_ID
		AND CPR_DELETE_FLAG = 0;
END
