/****** Object:  StoredProcedure [dbo].[App_Settings_Read_Version]    Script Date: 22/03/2023 07:45:03 ******/
SET ANSI_NULLS ON
GO

-- exec App_Settings_Read_Version null, 2

SET QUOTED_IDENTIFIER ON
GO

CREATE
	OR

ALTER PROCEDURE [dbo].[App_Settings_Read_Version] @version_id VARCHAR(100) = NULL
	,@cst_id INT
AS
BEGIN
	IF @version_id IS NULL
	BEGIN
		SELECT MAX(ASV_VERSION) AS ASV_VERSION
		FROM TM_APP_SETTING_CONFIG_VERSION
		WHERE ASV_CST_ID = @cst_id
	END
	ELSE
	BEGIN
		SET NOCOUNT ON;

		SELECT ASV_VERSION
		FROM TM_APP_SETTING_CONFIG_VERSION
		WHERE ASV_VERSION = @version_id
			AND ASV_CST_ID = @cst_id;
	END
END
GO
