<div name="cookie-banner" class="container-fluid" style="display: none;">
    <div class="row d-flex justify-content-between bg-tertiary p-4">
        <div class="col-8 text-light text-start lead pt-2">
            <span label="cookie-message"></span> <a href="#" name="cookie-manage" class="text-warning" label="manage-cookies"></a>
        </div>
        <div class="col-4 text-end">
            <button type="button" name="cookie-allow" class="btn btn-info btn-lg" label="allow"></button>
            <button type="button" name="cookie-reject" class="btn btn-info btn-lg" label="reject"></button>
        </div>
    </div>
</div>
<!-- JS file for Footer page-->
<script src="template/js/cookie.js"></script>
