<div class="container-fluid fixed-bottom">
    <div name="cookie-banner" style="display: none;">
        <div class="row d-flex justify-content-between bg-tertiary p-4">
            <div class="col-8 text-light text-left lead pt-2">
                <span label="cookie-message"></span> <a href="#" name="cookie-manage" class="text-warning" label="manage-cookies"></a>
            </div>
            <div class="col-4 text-right">
                <button type="button" name="cookie-allow" class="btn btn-info btn-lg" label="allow"></button>
            </div>
        </div>
    </div>
    <div class="bg-default row d-flex justify-content-between border-top p-2">
        <div name="links" class="col text-muted text-left"></div>
        <div name="bs-breakpoint" class="col text-center text-danger" style="display: none;"></div>
        <div name="version" class="col text-muted text-right"></div>
    </div>
</div>

<!-- CSS file for Footer page-->
<link rel="stylesheet" href="template/css/footer.css">
<!-- JS file for Footer page-->
<script src="template/js/footer.js"></script>
