<div class="container-fluid">
    <div class="mx-3">
        <div class="row align-items-end">
            <div class="col-sm-8">
                <img name="logo" class="img-fluid py-1" style="height: 145px" />
            </div>
            <div class="col-sm-4">
                <h1 name="title" class="text-end align-bottom text-primary"></h1>
                <h6 class="text-end align-bottom text-muted" label="sub-title"></h6>
            </div>
        </div>
    </div>
</div>

<!-- CSS file for Header page-->
<link rel="stylesheet" href="template/css/header.css">
<!-- JS file for Header page-->
<script src="template/js/header.js"></script>
