<div class="container-fluid">
    <div class="m-3">
        <div class="row align-items-end">
            <div class="col-sm-8">
                <img name="logo" class="img-fluid" />
            </div>
            <div class="col-sm-4">
                <h1 name="title" class="text-right align-bottom text-primary"></h1>
            </div>
        </div>
    </div>
</div>

<!-- CSS file for Header page-->
<link rel="stylesheet" href="template/css/header.css">
<!-- JS file for Header page-->
<script src="template/js/header.js"></script>
