<!-- Modal - Privacy-->
<div id="modal-read-privacy" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-light">
        <h5 label="privacy"></h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="close"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Information-->
<div id="modal-information" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-light" label="information"></h5>
        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="close"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Group-->
<div id="modal-read-group" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" label="group"></h5>
        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">

        <div class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="code"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="grp-code"></span>
          </div>
        </div>

        <div class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="name"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="grp-name"></span>
          </div>
        </div>

        <div class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="contact"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="grp-contact-name"></span>
          </div>
        </div>

        <div class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="email"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="grp-contact-email"></span>
          </div>
        </div>

        <div class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="phone"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="grp-contact-phone"></span>
          </div>
        </div>

        <div class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="members"></label></div>
          <div class="col-8 p-2 text-left">
            <ul class="list-group"></ul>
          </div>
        </div>

        <div class="border-top row mx-0"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="cancel"></span>
        </button>
      </div>

    </div>
  </div>
</div>

<!-- Modal - User-->
<div id="modal-read-user" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" label="user"></h5>
        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="user-name"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="ccn-username"></span>
          </div>
        </div>
        <div class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="name"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="ccn-name"></span>
          </div>
        </div>
        <div class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="email"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="ccn-email"></span>
          </div>
        </div>
        <div class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="notifications"></label></div>
          <div class="col-8 p-2">
            <input name="notification" type="checkbox"></input>
            <span class="serverValidationError text-danger" name="notification-error-holder"></span>
          </div>
        </div>
        <div class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="role"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="prv-value"></span>
          </div>
        </div>
        <div name="container-list" class="border-top border-right border-left row mx-0">
          <div class="bg-light border-right col-4 p-2 text-right font-weight-bold"><label label="groups"></label></div>
          <div class="col-8 p-2 text-left">
            <ul class="list-group"></ul>
          </div>
        </div>
        <div class="border-top row mx-0"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="cancel"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Confirm-->
<div id="modal-confirm" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" label="confirm"></h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="text-right">
            <button type="button" class="btn btn-neutral" data-dismiss="modal">
              <i class="far fa-times-circle"></i> <span label="cancel"></span>
            </button>
            <button id="modal-button-confirm" type="button" class="btn btn-warning">
              <i class="far fa-check-circle"></i> <span label="confirm"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Success-->
<div id="modal-success" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-light" label="success"></h5>
        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="close"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Error-->
<div id="modal-error" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-light" label="error"></h5>
        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="text-right">
            <button type="button" name="clipboard" class="btn btn-light" data-clipboard-target="#modal-error .modal-body p">
              <i class="far fa-copy"></i> <span label="copy-to-clipboard"></span>
            </button>
            <button type="button" class="btn btn-neutral" data-dismiss="modal">
              <i class="far fa-times-circle"></i> <span label="close"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Exception-->
<div id="modal-exception" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light" label="exception"></h5>
        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="close"></span>
        </button>
      </div>
    </div>
  </div>
</div>
