<!-- Modal - Privacy-->
<div id="modal-read-privacy" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-light">
        <h5 label="privacy"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-bs-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="close"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Information-->
<div id="modal-information" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-light" label="information"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p name="message-text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-bs-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="close"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Group-->
<div id="modal-read-group" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" label="group"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="code"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="grp-code"></span>
          </div>
        </div>

        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="name"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="grp-name"></span>
          </div>
        </div>

        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="contact"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="grp-contact-name"></span>
          </div>
        </div>

        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="email"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="grp-contact-email"></span>
          </div>
        </div>

        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="phone"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="grp-contact-phone"></span>
          </div>
        </div>

        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="members"></label></div>
          <div class="col-8 p-2 text-start">
            <ul class="list-group"></ul>
          </div>
        </div>

        <div class="border-top row mx-0"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-bs-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="cancel"></span>
        </button>
      </div>

    </div>
  </div>
</div>

<!-- Modal - User-->
<div id="modal-read-user" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" label="user"></h5>
        <button type="button" class="btn-close btn-close-white text-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="type"></label></div>
          <div class="col-8 p-2" name="type">

          </div>
        </div>
        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="user-name"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="ccn-username"></span>
          </div>
        </div>
        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="name"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="ccn-name"></span>
          </div>
        </div>
        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="email"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="ccn-email"></span>
          </div>
        </div>
        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="notifications"></label></div>
          <div class="col-8 p-2">
            <input name="notification" type="checkbox"></input>
          </div>
        </div>
        <div class="border-top border-end border-start row mx-0" name="subscription-row">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="subscriptions"></label></div>
          <div class="col-8 p-2">
            <div name="subscription-toggle-wrapper">

            </div>
          </div>
        </div>
        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="role"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="prv-value"></span>
          </div>
        </div>
        <div class="border-top border-end border-start row mx-0" name="reset-1fa-row">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="password"></label></div>
          <div class="col-8 p-2">
            <button class="btn btn-info text-light" type="button" name="reset-1fa">
              <i class="fas fa-undo"></i> <span label="reset"></span>
            </button>
          </div>
        </div>
        <div class="border-top border-end border-start row mx-0" name="reset-2fa-row">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="2fa"></label></div>
          <div class="col-8 p-2">
            <button class="btn btn-info text-light" type="button" name="reset-2fa">
              <i class="fas fa-undo"></i> <span label="reset"></span>
            </button>
          </div>
        </div>
        <div name="container-list" class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="groups"></label></div>
          <div class="col-8 p-2 text-start">
            <ul class="list-group"></ul>
          </div>
        </div>
        <div class="border-top row mx-0"></div>


        <div class="accordion mt-4" id="modal-read-user-developer" style="display: none;">
          <div class="accordion-item">
            <h2 class="accordion-header" id="modal-read-user-developer-heading">
              <button class="accordion-button text-primary bg-neutral bg-opacity-25 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#modal-read-user-developer-collapse-one" aria-expanded="false" aria-controls="modal-read-subscriber-developer-collapse-one">
                <span label="developer"></span>
              </button>
            </h2>
            <div id="modal-read-user-developer-collapse-one" class="accordion-collapse collapse" aria-labelledby="modal-read-user-developer-heading" data-bs-parent="#modal-read-user-developer">
              <div class="accordion-body">
                <div class="card mb-2 mt-2">
                  <div class="card-header d-flex w-100 justify-content-between p-2">
                    <span label="api-key"></span>
                    <span><i name="copy-key" class="far fa-copy fa-2x" data-bs-toggle="tooltip" data-clipboard-target="#modal-read-user-developer-key" data-bs-placement="right" title="" style="cursor: grab" data-clipboard-action="copy" label-tooltip="copy-to-clipboard" data-original-title="Copy to Clipboard"></i>

                    </span>
                  </div>
                  <div class="card-body p-0 border-top">
                    <pre id="modal-read-user-developer-key" class="p-2 text-wrap"></pre>
                  </div>
                  <div class="card-footer text-end">
                    <button class="btn btn-info text-light" type="button" name="generate-key">
                      <i class="fas fa-undo"></i> <span label="regenerate"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>











      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-bs-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="cancel"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - subscriber-->
<div id="modal-read-subscriber" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" label="user"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="name"></label></div>
          <div class="col-8 p-2">
            <i class="fab fa-google me-2" name="subscriber-icon"></i>
            <span type="text" name="display-name"></span>
          </div>
        </div>
        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="email"></label></div>
          <div class="col-8 p-2">
            <span type="text" name="ccn-email"></span>
          </div>
        </div>
        <div class="border-top border-end border-start row mx-0">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="subscriptions"></label></div>
          <div class="col-8 p-2">
            <div name="subscription-toggle-wrapper">

            </div>
          </div>
        </div>
        <div class="border-top border-end border-start row mx-0" name="update-password-row" style="display: none;">
          <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label label="password"></label></div>
          <div class="col-8 p-2">
            <button class="btn btn-info text-light" type="button" name="update-password">
              <i class="fas fa-undo"></i> <span label="update"></span>
            </button>
          </div>
        </div>
        <div class="border-top row mx-0"></div>

        <div class="accordion mt-4" id="modal-read-subscriber-developer">
          <div class="accordion-item">
            <h2 class="accordion-header" id="modal-read-subscriber-developer-heading">
              <button class="accordion-button text-primary bg-neutral bg-opacity-25 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#modal-read-subscriber-developer-collapse-one" aria-expanded="false" aria-controls="modal-read-subscriber-developer-collapse-one">
                <span label="developer"></span>
              </button>
            </h2>
            <div id="modal-read-subscriber-developer-collapse-one" class="accordion-collapse collapse" aria-labelledby="modal-read-subscriber-developer-heading" data-bs-parent="#modal-read-subscriber-developer">
              <div class="accordion-body">
                <div class="card mb-2 mt-2">
                  <div class="card-header d-flex w-100 justify-content-between p-2">
                    <span label="api-key"></span>
                    <span><i name="copy-key" class="far fa-copy fa-2x" data-bs-toggle="tooltip" data-clipboard-target="#modal-read-subscriber-developer-key" data-bs-placement="right" title="" style="cursor: grab" data-clipboard-action="copy" label-tooltip="copy-to-clipboard" data-original-title="Copy to Clipboard"></i>

                    </span>
                  </div>
                  <div class="card-body p-0 border-top">
                    <pre id="modal-read-subscriber-developer-key" class="p-2 text-wrap"></pre>
                  </div>
                  <div class="card-footer text-end">
                    <button class="btn btn-info text-light" type="button" name="generate-key">
                      <i class="fas fa-undo"></i> <span label="regenerate"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="accordion mt-3" id="modal-read-subscriber-manage">
          <div class="accordion-item">
            <h2 class="accordion-header" id="modal-read-subscriber-manage-heading-one">
              <button class="accordion-button text-primary bg-neutral bg-opacity-25 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#modal-read-subscriber-manage-collapse-one" aria-expanded="false" aria-controls="modal-read-subscriber-manage-collapse-one">
                <span label="manage-my-account"></span>
              </button>
            </h2>
            <div id="modal-read-subscriber-manage-collapse-one" class="accordion-collapse collapse" aria-labelledby="modal-read-subscriber-manage-heading-one" data-bs-parent="#modal-read-subscriber-manage">
              <div class="accordion-body">
                <p class="h5 text-danger" label="delete-your-account"></p>
                <p label="delete-your-account-message"></p>
                <button class="btn btn-danger text-light" type="button" name="delete-account">
                  <i class="fas fa-trash-alt"></i> <span label="delete"></span>
                </button>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-bs-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="cancel"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - subscriber reset password-->
<div id="modal-subscriber-update-password" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header bg-primary">
          <h5 class="modal-title text-light" label="update-password"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="border-top border-end border-start row mx-0">
            <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label class="mandatory" for="password" label="current-password"></label></div>
            <div class="col-8 p-2">
              <div class="input-group mb-3">
                <input type="password" class="form-control" name="current-password" maxlength="256"></input>
                <button class="btn btn-outline-secondary" name="show-password" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="" label-tooltip="show-password"><i class="fas fa-eye"></i></button>
                <button class="btn btn-outline-secondary" name="hide-password" type="button" style="display: none;" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="" label-tooltip="hide-password"><i class="fas fa-eye-slash"></i></button>
              </div>
              <span class="serverValidationError text-danger" name="current-password-error-holder"></span>
            </div>
          </div>

          <div class="border-top border-end border-start row mx-0">
            <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label class="mandatory" for="new-password" label="new-password"></label></div>
            <div class="col-8 p-2">
              <div class="input-group mb-3">
                <input type="password" class="form-control" name="new-password" maxlength="256"></input>
                <button class="btn btn-outline-secondary" name="show-password" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="" label-tooltip="show-password"><i class="fas fa-eye"></i></button>
                <button class="btn btn-outline-secondary" name="hide-password" type="button" style="display: none;" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="" label-tooltip="hide-password"><i class="fas fa-eye-slash"></i></button>
              </div>
              <span class="serverValidationError text-danger" name="new-password-error-holder"></span>
              <div class="text-end mt-2">
                <a href="#" label="minimum-requirements" name="password-requirements" data-bs-toggle="popover" data-bs-trigger="hover" tabindex="0"></a>
              </div>
            </div>
          </div>

          <div class="border-top border-end border-start row mx-0">
            <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label class="mandatory" for="repeat-new-password" label="repeat-new-password"></label></div>
            <div class="col-8 p-2">
              <div class="input-group mb-3">
                <input type="password" class="form-control" name="repeat-new-password" maxlength="256"></input>
                <button class="btn btn-outline-secondary" name="show-password" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="" label-tooltip="show-password"><i class="fas fa-eye"></i></button>
                <button class="btn btn-outline-secondary" name="hide-password" type="button" style="display: none;" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="" label-tooltip="hide-password"><i class="fas fa-eye-slash"></i></button>
              </div>
              <span class="serverValidationError text-danger" name="repeat-new-password-error-holder"></span>
            </div>
          </div>

          <div class="border-top row mx-0"></div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-neutral" data-bs-dismiss="modal">
            <i class="far fa-times-circle"></i> <span label="cancel"></span>
          </button>
          <button class="btn btn-primary text-light" type="submit" name="sign-up">
            <i class="far fa-save"></i> <span label="save"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal - subscriber confirm password generate key-->
<div id="modal-subscriber-confirm-password-api-key" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header bg-warning">
          <h5 class="modal-title text-light" label="confirm-password"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p label="regenerate-api-key-warning"></p>
          <div class="border-top border-end border-start row mx-0">
            <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label class="mandatory" for="password" label="password"></label></div>
            <div class="col-8 p-2">
              <div class="input-group mb-3">
                <input type="password" class="form-control" name="password" maxlength="256"></input>
                <button class="btn btn-outline-secondary" name="show-password" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="" label-tooltip="show-password"><i class="fas fa-eye"></i></button>
                <button class="btn btn-outline-secondary" name="hide-password" type="button" style="display: none;" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="" label-tooltip="hide-password"><i class="fas fa-eye-slash"></i></button>
              </div>
              <span class="serverValidationError text-danger" name="password-error-holder"></span>
            </div>
          </div>

          <div class="border-top row mx-0"></div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-neutral" data-bs-dismiss="modal">
            <i class="far fa-times-circle"></i> <span label="cancel"></span>
          </button>
          <button class="btn btn-primary text-light" type="submit">
            <i class="fas fa-undo"></i> <span label="regenerate"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal - subscriber confirm delete account-->
<div id="modal-subscriber-confirm-password-delete-account" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header bg-danger">
          <h5 class="modal-title text-light" label="delete-your-account"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p label="delete-your-account-warning"></p>
          <div class="border-top border-end border-start row mx-0">
            <div class="bg-default border-end col-4 p-2 text-end fw-bold"><label class="mandatory" for="password" label="password"></label></div>
            <div class="col-8 p-2">
              <div class="input-group mb-3">
                <input type="password" class="form-control" name="password" maxlength="256"></input>
                <button class="btn btn-outline-secondary" name="show-password" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="" label-tooltip="show-password"><i class="fas fa-eye"></i></button>
                <button class="btn btn-outline-secondary" name="hide-password" type="button" style="display: none;" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="" label-tooltip="hide-password"><i class="fas fa-eye-slash"></i></button>
              </div>
              <span class="serverValidationError text-danger" name="password-error-holder"></span>
            </div>
          </div>

          <div class="border-top row mx-0"></div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-neutral" data-bs-dismiss="modal">
            <i class="far fa-times-circle"></i> <span label="cancel"></span>
          </button>
          <button class="btn btn-danger" type="submit" name="sign-up">
            <i class="far fa-check-circle"></i> <span label="confirm"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal - Confirm-->
<div id="modal-confirm" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" label="confirm"></h5>
        <button type="button" class="btn-close btn-close-dark" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p class="overflow-auto" name="message-text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-bs-dismiss="modal"><i class="far fa-times-circle"></i>
          <span label="cancel"></span></button>
        <button type="button" name="confirm" class="btn btn-warning"><i class="far fa-check-circle"></i>
          <span label="confirm"></span></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Success-->
<div id="modal-success" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-light" label="success"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="overflow-auto" name="message-text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-bs-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="close"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Error-->
<div id="modal-error" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-light" label="error"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="overflow-auto" name="message-text"></p>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="text-end">
            <button type="button" name="clipboard" class="btn btn-neutral" data-clipboard-target="#modal-error .modal-body p">
              <i class="far fa-copy"></i> <span label="copy-to-clipboard"></span>
            </button>
            <button type="button" class="btn btn-neutral" data-bs-dismiss="modal">
              <i class="far fa-times-circle"></i> <span label="close"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Exception-->
<div id="modal-exception" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light" label="exception"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="overflow-auto" name="message-text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-bs-dismiss="modal">
          <i class="far fa-times-circle"></i> <span label="close"></span>
        </button>
      </div>
    </div>
  </div>
</div>
