-- Drop up temporary tables if any exist
DROP TABLE #TD_AUDITING_TD_MATRIX_DELETE

DROP TABLE #TD_AUDITING_TD_WORKFLOW_SIGNOFF_DELETE

DROP TABLE #TD_AUDITING_TD_WORKFLOW_RESPONSE_DELETE

DROP TABLE #TD_AUDITING_TD_WORKFLOW_REQUEST_DELETE

DROP TABLE #TD_AUDITING_TM_REASON_RELEASE_DELETE

DROP TABLE #TD_AUDITING_TS_REASON_DELETE

DROP TABLE #TD_AUDITING_TD_RELEASE_DELETE

DROP TABLE #TD_AUDITING_TD_COMMENT_DELETE

-- =============================================
-- Author:		Liam Millar
-- Create date: 22/04/2019
-- Description:	Hard Delete all Matrices and any relative data
-- =============================================
TRUNCATE TABLE TD_ANALYTIC

TRUNCATE TABLE TM_DATA_CELL

TRUNCATE TABLE TD_DATA

TRUNCATE TABLE TD_STATISTIC

TRUNCATE TABLE TD_VARIABLE

TRUNCATE TABLE TD_CLASSIFICATION

TRUNCATE TABLE TD_PERIOD

TRUNCATE TABLE TD_FREQUENCY

-- Track Matrix IDs for deletion of Foreign Keys
SELECT TD_MATRIX.MTR_DTG_ID
INTO #TD_AUDITING_TD_MATRIX_DELETE
FROM TD_MATRIX

DELETE FROM TD_MATRIX
DBCC CHECKIDENT ('TD_MATRIX',RESEED, 1)

DELETE TM_AUDITING_HISTORY
FROM TM_AUDITING_HISTORY AS DHT
JOIN #TD_AUDITING_TD_MATRIX_DELETE AS DLT
	ON DHT.DHT_DTG_ID = DLT.MTR_DTG_ID

DELETE TD_AUDITING
FROM TD_AUDITING AS DTG
JOIN #TD_AUDITING_TD_MATRIX_DELETE AS DLT
	ON DTG.DTG_ID = DLT.MTR_DTG_ID

-- =============================================
-- Author:		Liam Millar
-- Create date: 22/04/2019
-- Description:	Hard Delete all Releases and any relative data
-- =============================================
TRUNCATE TABLE TS_REASON_LANGUAGE

TRUNCATE TABLE TD_KEYWORD_RELEASE

-- Track Workflow Sign-Off IDs for deletion of Foreign Keys
SELECT TD_WORKFLOW_SIGNOFF.WSG_DTG_ID
INTO #TD_AUDITING_TD_WORKFLOW_SIGNOFF_DELETE
FROM TD_WORKFLOW_SIGNOFF

TRUNCATE TABLE TD_WORKFLOW_SIGNOFF

DELETE TM_AUDITING_HISTORY
FROM TM_AUDITING_HISTORY AS DHT
JOIN #TD_AUDITING_TD_WORKFLOW_SIGNOFF_DELETE AS DLT
	ON DHT.DHT_DTG_ID = DLT.WSG_DTG_ID

DELETE TD_AUDITING
FROM TD_AUDITING AS DTG
JOIN #TD_AUDITING_TD_WORKFLOW_SIGNOFF_DELETE AS DLT
	ON DTG.DTG_ID = DLT.WSG_DTG_ID

-- Track Workflow Response IDs for deletion of Foreign Keys
SELECT TD_WORKFLOW_RESPONSE.WRS_DTG_ID
INTO #TD_AUDITING_TD_WORKFLOW_RESPONSE_DELETE
FROM TD_WORKFLOW_RESPONSE

DELETE FROM TD_WORKFLOW_RESPONSE
DBCC CHECKIDENT ('TD_WORKFLOW_RESPONSE',RESEED, 1)

DELETE TM_AUDITING_HISTORY
FROM TM_AUDITING_HISTORY AS DHT
JOIN #TD_AUDITING_TD_WORKFLOW_RESPONSE_DELETE AS DLT
	ON DHT.DHT_DTG_ID = DLT.WRS_DTG_ID

DELETE TD_AUDITING
FROM TD_AUDITING AS DTG
JOIN #TD_AUDITING_TD_WORKFLOW_RESPONSE_DELETE AS DLT
	ON DTG.DTG_ID = DLT.WRS_DTG_ID

-- Track Workflow Request IDs for deletion of Foreign Keys
SELECT TD_WORKFLOW_REQUEST.WRQ_DTG_ID
INTO #TD_AUDITING_TD_WORKFLOW_REQUEST_DELETE
FROM TD_WORKFLOW_REQUEST

DELETE FROM TD_WORKFLOW_REQUEST
DBCC CHECKIDENT ('TD_WORKFLOW_REQUEST',RESEED, 1)

DELETE TM_AUDITING_HISTORY
FROM TM_AUDITING_HISTORY AS DHT
JOIN #TD_AUDITING_TD_WORKFLOW_REQUEST_DELETE AS DLT
	ON DHT.DHT_DTG_ID = DLT.WRQ_DTG_ID

DELETE TD_AUDITING
FROM TD_AUDITING AS DTG
JOIN #TD_AUDITING_TD_WORKFLOW_REQUEST_DELETE AS DLT
	ON DTG.DTG_ID = DLT.WRQ_DTG_ID

-- Track Reason Release IDs for deletion of Foreign Keys
SELECT TM_REASON_RELEASE.RSR_DTG_ID
INTO #TD_AUDITING_TM_REASON_RELEASE_DELETE
FROM TM_REASON_RELEASE

TRUNCATE TABLE TM_REASON_RELEASE

DELETE TM_AUDITING_HISTORY
FROM TM_AUDITING_HISTORY AS DHT
JOIN #TD_AUDITING_TM_REASON_RELEASE_DELETE AS DLT
	ON DHT.DHT_DTG_ID = DLT.RSR_DTG_ID

DELETE TD_AUDITING
FROM TD_AUDITING AS DTG
JOIN #TD_AUDITING_TM_REASON_RELEASE_DELETE AS DLT
	ON DTG.DTG_ID = DLT.RSR_DTG_ID

-- Track Reason IDs for deletion of Foreign Keys
SELECT TS_REASON.RSN_DTG_ID
INTO #TD_AUDITING_TS_REASON_DELETE
FROM TS_REASON

DELETE FROM TS_REASON
DBCC CHECKIDENT ('TS_REASON',RESEED, 1)

DELETE TM_AUDITING_HISTORY
FROM TM_AUDITING_HISTORY AS DHT
JOIN #TD_AUDITING_TS_REASON_DELETE AS DLT
	ON DHT.DHT_DTG_ID = DLT.RSN_DTG_ID

DELETE TD_AUDITING
FROM TD_AUDITING AS DTG
JOIN #TD_AUDITING_TS_REASON_DELETE AS DLT
	ON DTG.DTG_ID = DLT.RSN_DTG_ID

-- Track Release IDs for deletion of Foreign Keys
SELECT TD_RELEASE.RLS_DTG_ID
INTO #TD_AUDITING_TD_RELEASE_DELETE
FROM TD_RELEASE

DELETE FROM TD_RELEASE
DBCC CHECKIDENT ('TD_RELEASE',RESEED, 1)

DELETE TM_AUDITING_HISTORY
FROM TM_AUDITING_HISTORY AS DHT
JOIN #TD_AUDITING_TD_RELEASE_DELETE AS DLT
	ON DHT.DHT_DTG_ID = DLT.RLS_DTG_ID

DELETE TD_AUDITING
FROM TD_AUDITING AS DTG
JOIN #TD_AUDITING_TD_RELEASE_DELETE AS DLT
	ON DTG.DTG_ID = DLT.RLS_DTG_ID

-- Track Comment IDs for deletion of Foreign Keys
SELECT TD_COMMENT.CMM_DTG_ID
INTO #TD_AUDITING_TD_COMMENT_DELETE
FROM TD_COMMENT

DELETE FROM TD_COMMENT
DBCC CHECKIDENT ('TD_COMMENT',RESEED, 1)

DELETE TM_AUDITING_HISTORY
FROM TM_AUDITING_HISTORY AS DHT
JOIN #TD_AUDITING_TD_COMMENT_DELETE AS DLT
	ON DHT.DHT_DTG_ID = DLT.CMM_DTG_ID

DELETE TD_AUDITING
FROM TD_AUDITING AS DTG
JOIN #TD_AUDITING_TD_COMMENT_DELETE AS DLT
	ON DTG.DTG_ID = DLT.CMM_DTG_ID
