<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="appStatic" type="System.Configuration.NameValueSectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- 
  ********************************************************************** 
  API
  ********************************************************************** 
  -->
    <!-- API - Maintenance flag [TRUE, FALSE] -->
    <add key="API_MAINTENANCE" value="FALSE" />
    <!-- API - Windows Authentication [ANONYMOUS, WINDOWS, ANY] -->
    <add key="API_AUTHENTICATION_TYPE" value="ANY" />
    <!-- API - Stateless [TRUE, FALSE] -->
    <add key="API_STATELESS" value="TRUE" />
    <!-- API - Success response (case sensitive) -->
    <add key="API_SUCCESS" value="success" />
    <!-- API - Session Cookie (case sensitive) -->
    <add key="API_SESSION_COOKIE" value="session" />
    <!-- 
  ********************************************************************** 
  API - JSONRPC
  ********************************************************************** 
  -->
    <!-- API - JSONRPC - Mask parameters (comas separated, case insensitive) -->
    <add key="API_JSONRPC_MASK_PARAMETERS" value="MtrInput,Lgn1Fa,Totp" />
    <!-- 
  ********************************************************************** 
  API - eMail 
  ********************************************************************** 
  -->
    <!-- EMAIL - MAIL - Switch on [TRUE] or off [FALSE] the Email service -->
    <add key="API_EMAIL_ENABLED" value="FALSE" />
    <!-- EMAIL - MAIL - NoReply email address -->
    <add key="API_EMAIL_MAIL_NOREPLY" value="" />
    <!-- EMAIL - MAIL - Sender email address -->
    <add key="API_EMAIL_MAIL_SENDER" value="" />
    <!-- EMAIL - SMTP - Server IP address -->
    <add key="API_EMAIL_SMTP_SERVER" value="" />
    <!-- EMAIL - SMTP - Port number -->
    <add key="API_EMAIL_SMTP_PORT" value="25" />
    <!-- EMAIL - SMTP - Switch on [TRUE] or off [FALSE] the authentication -->
    <add key="API_EMAIL_SMTP_AUTHENTICATION" value="FALSE" />
    <!-- EMAIL - SMTP - Set the Username if authentication is required -->
    <add key="API_EMAIL_SMTP_USERNAME" value="" />
    <!-- EMAIL - SMTP - Set the Password if authentication is required -->
    <add key="API_EMAIL_SMTP_PASSWORD" value="" />
    <!-- EMAIL - SMTP - Switch on [TRUE] or off [FALSE] the SSL -->
    <add key="API_EMAIL_SMTP_SSL" value="FALSE" />
    <!-- EMAIL - TEMPLATE - Datetime Mask  -->
    <add key="API_EMAIL_DATETIME_MASK" value="dd/MM/yyyy - HH:mm:ss" />
    <!-- 
  ********************************************************************** 
  API - ADO 
  ********************************************************************** 
  -->
    <!-- ADO - Default Connection Name -->
    <add key="API_ADO_DEFAULT_CONNECTION" value="defaultConnection" />
    <!-- ADO - Execution timeout in seconds -->
    <add key="API_ADO_EXECUTION_TIMEOUT" value="3600" />
    <!-- ADO - Bulk Copy timeout in seconds -->
    <add key="API_ADO_BULKCOPY_TIMEOUT" value="3600" />
    <!-- ADO - Bulk Copy BatchSize in number of rows -->
    <add key="API_ADO_BULKCOPY_BATCHSIZE" value="50000" />
    <!-- 
  ********************************************************************** 
 MIGRATION 
  ********************************************************************** 
  -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DEFAUT_STATISTIC_CODE" value="STATISTIC" />
    <add key="DEFAUT_STATISTIC_VALUE" value="Statistic" />
  </appSettings>
  <!-- Static configuration -->
  <appStatic configSource="Static.config" />
  <!-- 
  ********************************************************************** 
  DB - Connection Strings 
  ********************************************************************** 
  -->
  <connectionStrings>
    <add name="defaultConnection" connectionString="Server=;Initial Catalog=;User ID=;Password=;Persist Security Info=False;Column Encryption Setting=enabled;" />
  </connectionStrings>
  <!-- 
  ********************************************************************** 
  LOGGING - Log4Net 
  ********************************************************************** 
  -->
  <log4net>
    <root>
      <!-- Set the level to ERROR for Live/UAT and ALL for TD-->
      <level value="ERROR" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="AdoNetAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <!-- Set threshold to ERROR for Live/UAT and ALL for TD-->
      <threshold value="ERROR" />
      <file type="log4net.Util.PatternString" value="Logs\Log4Net.[%processid].log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %class.%method:%line - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="false" />
        <levelToMatch value="INFO" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+InterProcessLock" />
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <!-- Set threshold to ERROR for Live/UAT and OFF for TD-->
      <threshold value="OFF" />
      <!-- List of coma separated emails for the recipients -->
      <to value="" />
      <!-- Email of the sender -->
      <from value="" />
      <!-- Email's subject -->
      <subject type="log4net.Util.PatternString" value="Error log" />
      <!-- SMTP IP address -->
      <smtpHost value="3.1.2.22" />
      <!-- SMTP IP port -->
      <port value="25" />
      <authentication value="None" />
      <bufferSize value="1" />
      <lossy value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %class.%method:%line - %message%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <!-- Set threshold to ERROR for Live/UAT and ALL for TD-->
      <threshold value="OFF" />
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Server=;Initial Catalog=;User ID=;Password=;Persist Security Info=False;Column Encryption Setting=enabled;" />
      <commandText value="INSERT INTO TD_LOGGING ([LGG_DATETIME],[LGG_THREAD],[LGG_LEVEL],[LGG_CLASS],[LGG_METHOD],[LGG_LINE],[LGG_MESSAGE],[LGG_EXCEPTION]) VALUES (@Datetime,@Thread,@Level,@Class,@Method,@Line,@Message,@Exception)" />
      <parameter>
        <parameterName value="@Datetime" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Thread" />
        <dbType value="String" />
        <size value="8" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Level" />
        <dbType value="String" />
        <size value="8" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Class" />
        <dbType value="String" />
        <size value="256" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%class" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Method" />
        <dbType value="String" />
        <size value="256" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%method" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Line" />
        <dbType value="String" />
        <size value="8" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%line" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
