SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE
	OR

ALTER PROCEDURE [dbo].[Data_Migration_ReadById] @MtrId INT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT MTR_CODE AS MtrCode
		,MTR_ID AS MtrId
		,MTR_OFFICIAL_FLAG AS MtrOfficialFlag
		,FRM_TYPE AS FrmType
		,FRM_VERSION AS FrmVersion
		,LNG_ISO_CODE AS LngIsoCode
		,CPR_CODE AS CprCode
		,CPR_VALUE AS CprValue
		,CPR_URL AS CprUrl
		,MTR_TITLE AS MtrTitle
		,MTR_NOTE AS MtrNote
	FROM TD_MATRIX
	INNER JOIN TS_LANGUAGE ON MTR_LNG_ID = LNG_ID
		AND LNG_DELETE_FLAG = 0
		AND MTR_ID = @MtrId
		AND MTR_DELETE_FLAG = 0
	INNER JOIN TS_FORMAT ON FRM_ID = MTR_FRM_ID
	INNER JOIN TS_COPYRIGHT ON MTR_CPR_ID = CPR_ID
		AND CPR_DELETE_FLAG = 0;
END
