CREATE USER [pxstat] FOR LOGIN [pxstat] WITH DEFAULT_SCHEMA=[dbo]
GO
CREATE ROLE [db_executor]
GO
GRANT EXECUTE TO [db_executor]
GO
ALTER ROLE [db_executor] ADD MEMBER [pxstat]
GO
ALTER ROLE [db_datareader] ADD MEMBER [pxstat]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [pxstat]
GO

-- Sequence
CREATE SEQUENCE [dbo].[CMM_CODE_seq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
CREATE SEQUENCE [dbo].[KPR_CODE_seq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
CREATE SEQUENCE [dbo].[KRL_CODE_seq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
CREATE SEQUENCE [dbo].[KSB_CODE_seq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
CREATE SEQUENCE [dbo].[LRT_CODE_seq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
CREATE SEQUENCE [dbo].[PRC_CODE_seq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
CREATE SEQUENCE [dbo].[RLS_CODE_seq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
CREATE SEQUENCE [dbo].[SBJ_CODE_seq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO

CREATE SEQUENCE [dbo].[THM_CODE_seq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO

-- Tables
CREATE TABLE [dbo].[TD_THEME](
	[THM_ID] [int] IDENTITY(1,1) NOT NULL,
	[THM_CODE] [int] NOT NULL,
	[THM_VALUE] [nvarchar](256) NOT NULL,
	[THM_LNG_ID][int] NOT NULL,
	[THM_DTG_ID] [int] NOT NULL,
	[THM_DELETE_FLAG] [bit] NOT NULL
 CONSTRAINT [PK_TD_THEME] PRIMARY KEY CLUSTERED 
(
	[THM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TD_THEME_LANGUAGE](
	[TLG_ID] [int] IDENTITY(1,1) NOT NULL,
	[TLG_VALUE] [nvarchar](256) NOT NULL,
	[TLG_LNG_ID] [int] NOT NULL,
	[TLG_THM_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_THEME_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[TLG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_ACCOUNT](
	[CCN_ID] [int] IDENTITY(1,1) NOT NULL,
	[CCN_USERNAME] [nvarchar](256) NOT NULL,
	[CCN_PRV_ID] [int] NOT NULL,
	[CCN_NOTIFICATION_FLAG] [bit] NOT NULL,	
	[CCN_DISPLAYNAME] [nvarchar](256) NULL,
	[CCN_EMAIL] [nvarchar](256) NULL,
	[CCN_LOCKED_FLAG] [bit] NOT NULL,
	[CCN_AD_FLAG] [bit] NOT NULL,
	[CCN_DTG_ID] [int] NOT NULL,
	[CCN_DELETE_FLAG] [bit] NOT NULL
 CONSTRAINT [PK_TD_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[CCN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_ALERT](
	[LRT_ID] [int] IDENTITY(1,1) NOT NULL,
	[LRT_CODE] [int] NOT NULL,
	[LRT_MESSAGE] [nvarchar](1024) NOT NULL,
	[LRT_DATETIME] [datetime] NOT NULL,
	[LRT_DTG_ID] [int] NOT NULL,
	[LRT_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TD_ALERT] PRIMARY KEY CLUSTERED 
(
	[LRT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_ALERT_LANGUAGE](
	[LLN_ID] [int] IDENTITY(1,1) NOT NULL,
	[LLN_MESSAGE] [nvarchar](1024) NOT NULL,
	[LLN_LNG_ID] [int] NOT NULL,
	[LLN_LRT_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_ALERT_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[LLN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_ANALYTIC](
	[NLT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NLT_MTR_ID] [int] NOT NULL,
	[NLT_FRM_ID] [int] NOT NULL,
	[NLT_MASKED_IP] [varchar](11) NOT NULL,
	[NLT_OS] [varchar](32) NULL,
	[NLT_BROWSER] [varchar](32) NULL,
	[NLT_BOT_FLAG] [bit] NOT NULL,
	[NLT_REFERER] [nvarchar](256) NULL,
	[NLT_M2M_FLAG] [bit] NOT NULL,
	[NLT_DATE] [date] NOT NULL,
	[NLT_USER_FLAG] [bit] NULL,
	[NLT_LNG_ISO_CODE] [char](2) NULL,
 CONSTRAINT [PK_TD_ANALYTIC] PRIMARY KEY CLUSTERED 
(
	[NLT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_AUDITING](
	[DTG_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TD_AUDITING] PRIMARY KEY CLUSTERED 
(
	[DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_CLASSIFICATION](
	[CLS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLS_CODE] [nvarchar](256) NOT NULL,
	[CLS_VALUE] [nvarchar](256) NOT NULL,
	[CLS_GEO_FLAG] [bit] NOT NULL,
	[CLS_GEO_URL] [nvarchar](2048) NULL,
	[CLS_MTR_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_CLASSIFICATION] PRIMARY KEY CLUSTERED 
(
	[CLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_COMMENT](
	[CMM_ID] [int] IDENTITY(1,1) NOT NULL,
	[CMM_CODE] [int] NOT NULL,
	[CMM_VALUE] [nvarchar](1024) NOT NULL,
	[CMM_DTG_ID] [int] NOT NULL,
	[CMM_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TD_COMMENT] PRIMARY KEY CLUSTERED 
(
	[CMM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_DATA](
	[TDT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TDT_VALUE] [nvarchar](max) NULL,
	[TDT_STT_ID] [int] NOT NULL,
	[TDT_PRD_ID] [int] NOT NULL,
	[TDT_IX] [int] NOT NULL,
	[TDT_MTR_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_DATA] PRIMARY KEY CLUSTERED 
(
	[TDT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_FREQUENCY](
	[FRQ_ID] [int] IDENTITY(1,1) NOT NULL,
	[FRQ_CODE] [nvarchar](256) NOT NULL,
	[FRQ_VALUE] [nvarchar](256) NOT NULL,
	[FRQ_MTR_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_FREQUENCY] PRIMARY KEY CLUSTERED 
(
	[FRQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_GROUP](
	[GRP_ID] [int] IDENTITY(1,1) NOT NULL,
	[GRP_CODE] [nvarchar](32) NOT NULL,
	[GRP_NAME] [nvarchar](256) NOT NULL,
	[GRP_CONTACT_NAME] [nvarchar](256) NULL,
	[GRP_CONTACT_PHONE] [nvarchar](256) NULL,
	[GRP_CONTACT_EMAIL] [nvarchar](256) NOT NULL,
	[GRP_DTG_ID] [int] NOT NULL,
	[GRP_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TD_GROUP] PRIMARY KEY CLUSTERED 
(
	[GRP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_KEYWORD_PRODUCT](
	[KPR_ID] [int] IDENTITY(1,1) NOT NULL,
	[KPR_CODE] [int] NOT NULL,
	[KPR_VALUE] [nvarchar](256) NOT NULL,
	[KPR_PRC_ID] [int] NOT NULL,
	[KPR_MANDATORY_FLAG] [bit] NOT NULL,
	[KPR_SINGULARISED_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TD_KEYWORD_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[KPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_KEYWORD_RELEASE](
	[KRL_ID] [int] IDENTITY(1,1) NOT NULL,
	[KRL_CODE] [int] NOT NULL,
	[KRL_VALUE] [nvarchar](256) NOT NULL,
	[KRL_RLS_ID] [int] NOT NULL,
	[KRL_MANDATORY_FLAG] [bit] NOT NULL,
	[KRL_SINGULARISED_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TD_KEYWORD_RELEASE] PRIMARY KEY CLUSTERED 
(
	[KRL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_KEYWORD_SUBJECT](
	[KSB_ID] [int] IDENTITY(1,1) NOT NULL,
	[KSB_CODE] [int] NOT NULL,
	[KSB_VALUE] [nvarchar](256) NOT NULL,
	[KSB_SBJ_ID] [int] NOT NULL,
	[KSB_MANDATORY_FLAG] [bit] NOT NULL,
	[KSB_SINGULARISED_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TD_KEYWORD_SUBJECT] PRIMARY KEY CLUSTERED 
(
	[KSB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_LOGGING](
	[LGG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LGG_DATETIME] [datetime] NOT NULL,
	[LGG_THREAD] [varchar](8) NOT NULL,
	[LGG_LEVEL] [varchar](8) NOT NULL,
	[LGG_CLASS] [varchar](256) NULL,
	[LGG_METHOD] [varchar](256) NULL,
	[LGG_LINE] [varchar](8) NULL,
	[LGG_MESSAGE] [nvarchar](max) NULL,
	[LGG_EXCEPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_TD_LOGGING] PRIMARY KEY CLUSTERED 
(
	[LGG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_LOGIN](
	[LGN_ID] [int] IDENTITY(1,1) NOT NULL,
	[LGN_1FA] [varchar](64) NULL,
	[LGN_2FA] [nvarchar](max) NULL,
	[LGN_TOKEN_1FA] [varchar](64) NULL,
	[LGN_TOKEN_2FA] [varchar](64) NULL,
	[LGN_SESSION] [varchar](64) NULL,
	[LGN_SESSION_EXPIRY] [datetime] NULL,
	[LGN_CCN_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_LOGIN] PRIMARY KEY CLUSTERED 
(
	[LGN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_MATRIX](
	[MTR_ID] [int] IDENTITY(1,1) NOT NULL,
	[MTR_CODE] [nvarchar](20) NOT NULL,
	[MTR_TITLE] [nvarchar](256) NOT NULL,
	[MTR_OFFICIAL_FLAG] [bit] NOT NULL,
	[MTR_INPUT] [nvarchar](max) NOT NULL,
	[MTR_NOTE] [nvarchar](max) NULL,
	[MTR_RLS_ID] [int] NOT NULL,
	[MTR_LNG_ID] [int] NOT NULL,
	[MTR_FRM_ID] [int] NOT NULL,
	[MTR_CPR_ID] [int] NOT NULL,
	[MTR_DTG_ID] [int] NOT NULL,
	[MTR_DELETE_FLAG] [bit] NOT NULL,
	[MTR_DATA_FLAG] [bit] NULL,
 CONSTRAINT [PK_TD_MATRIX] PRIMARY KEY CLUSTERED 
(
	[MTR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_PERFORMANCE](
	[PRF_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PRF_PROCESSOR_PERCENTAGE] [tinyint] NOT NULL,
	[PRF_MEMORY_AVAILABLE] [int] NOT NULL,
	[PRF_REQUEST_QUEUE] [smallint] NOT NULL,
	[PRF_REQUEST_PERSECOND] [smallint] NOT NULL,
	[PRF_DATETIME] [datetime] NOT NULL,
	[PRF_SERVER] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_TD_PERFORMANCE] PRIMARY KEY CLUSTERED 
(
	[PRF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
GRANT ALTER ON OBJECT::[dbo].[TD_PERFORMANCE] TO [pxstat]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_PERIOD](
	[PRD_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRD_CODE] [nvarchar](256) NOT NULL,
	[PRD_VALUE] [nvarchar](256) NOT NULL,
	[PRD_FRQ_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_PERIOD] PRIMARY KEY CLUSTERED 
(
	[PRD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_PRODUCT](
	[PRC_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRC_CODE] [nvarchar](32) NOT NULL,
	[PRC_VALUE] [nvarchar](256) NOT NULL,
	[PRC_SBJ_ID] [int] NOT NULL,
	[PRC_LNG_ID] [int] NOT NULL,
	[PRC_DTG_ID] [int] NOT NULL,
	[PRC_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TD_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_PRODUCT_LANGUAGE](
	[PLG_ID] [int] IDENTITY(1,1) NOT NULL,
	[PLG_VALUE] [nvarchar](256) NOT NULL,
	[PLG_LNG_ID] [int] NOT NULL,
	[PLG_PRC_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_PRODUCT_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[PLG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_RELEASE](
	[RLS_ID] [int] IDENTITY(1,1) NOT NULL,
	[RLS_CODE] [int] NOT NULL,
	[RLS_VERSION] [int] NOT NULL,
	[RLS_REVISION] [int] NOT NULL,
	[RLS_LIVE_FLAG] [bit] NOT NULL,
	[RLS_LIVE_DATETIME_FROM] [datetime] NULL,
	[RLS_LIVE_DATETIME_TO] [datetime] NULL,
	[RLS_EXCEPTIONAL_FLAG] [bit] NOT NULL,
	[RLS_RESERVATION_FLAG] [bit] NOT NULL,
	[RLS_ARCHIVE_FLAG] [bit] NOT NULL,
	[RLS_ANALYTICAL_FLAG] [bit] NOT NULL,
	[RLS_EXPERIMENTAL_FLAG] [bit] NOT NULL,
	[RLS_GRP_ID] [int] NOT NULL,
	[RLS_PRC_ID] [int] NULL,
	[RLS_CMM_ID] [int] NULL,
	[RLS_DTG_ID] [int] NOT NULL,
	[RLS_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TD_RELEASE] PRIMARY KEY CLUSTERED 
(
	[RLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_STATISTIC](
	[STT_ID] [int] IDENTITY(1,1) NOT NULL,
	[STT_CODE] [nvarchar](256) NOT NULL,
	[STT_VALUE] [nvarchar](256) NOT NULL,
	[STT_UNIT] [nvarchar](256) NOT NULL,
	[STT_DECIMAL] [tinyint] NOT NULL,
	[STT_MTR_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_STATISTIC] PRIMARY KEY CLUSTERED 
(
	[STT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_SUBJECT](
	[SBJ_ID] [int] IDENTITY(1,1) NOT NULL,
	[SBJ_CODE] [int] NOT NULL,
	[SBJ_VALUE] [nvarchar](256) NOT NULL,
	[SBJ_LNG_ID] [int] NOT NULL,
	[SBJ_THM_ID] [int] NOT NULL,
	[SBJ_DTG_ID] [int] NOT NULL,
	[SBJ_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TS_SUBJECT] PRIMARY KEY CLUSTERED 
(
	[SBJ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_SUBJECT_LANGUAGE](
	[SLG_ID] [int] IDENTITY(1,1) NOT NULL,
	[SLG_VALUE] [nvarchar](256) NOT NULL,
	[SLG_LNG_ID] [int] NOT NULL,
	[SLG_SBJ_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_SUBJECT_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[SLG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_TRACE](
	[TRC_ID] [int] IDENTITY(1,1) NOT NULL,
	[TRC_METHOD] [varchar](256) NOT NULL,
	[TRC_PARAMS] [nvarchar](2048) NULL,
	[TRC_IP] [varchar](15) NOT NULL,
	[TRC_USERAGENT] [varchar](2048) NULL,
	[TRC_USERNAME] [nvarchar](256) NULL,
	[TRC_DATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_TD_TRACE] PRIMARY KEY CLUSTERED 
(
	[TRC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_VARIABLE](
	[VRB_ID] [int] IDENTITY(1,1) NOT NULL,
	[VRB_CODE] [nvarchar](256) NOT NULL,
	[VRB_VALUE] [nvarchar](256) NOT NULL,
	[VRB_CLS_ID] [int] NOT NULL,
	[VRB_ELIMINATION_FLAG] BIT NOT NULL DEFAULT(0)
 CONSTRAINT [PK_TD_VARIABLE] PRIMARY KEY CLUSTERED 
(
	[VRB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_WORKFLOW_REQUEST](
	[WRQ_ID] [int] IDENTITY(1,1) NOT NULL,
	[WRQ_RQS_ID] [int] NOT NULL,
	[WRQ_CMM_ID] [int] NOT NULL,
	[WRQ_DATETIME] [datetime] NULL,
	[WRQ_EXCEPTIONAL_FLAG] [bit] NULL,
	[WRQ_RESERVATION_FLAG] [bit] NULL,
	[WRQ_ARCHIVE_FLAG] [bit] NULL,
	[WRQ_EXPERIMENTAL_FLAG] [bit] NULL,
	[WRQ_RLS_ID] [int] NOT NULL,
	[WRQ_CURRENT_FLAG] [bit] NOT NULL,
	[WRQ_DTG_ID] [int] NOT NULL,
	[WRQ_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TD_WORKFLOW_REQUEST] PRIMARY KEY CLUSTERED 
(
	[WRQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_WORKFLOW_RESPONSE](
	[WRS_ID] [int] IDENTITY(1,1) NOT NULL,
	[WRS_RSP_ID] [int] NOT NULL,
	[WRS_CMM_ID] [int] NOT NULL,
	[WRS_WRQ_ID] [int] NOT NULL,
	[WRS_DTG_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_WORKFLOW_RESPONSE] PRIMARY KEY CLUSTERED 
(
	[WRS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_WORKFLOW_SIGNOFF](
	[WSG_ID] [int] IDENTITY(1,1) NOT NULL,
	[WSG_SGN_ID] [int] NOT NULL,
	[WSG_CMM_ID] [int] NOT NULL,
	[WSG_WRS_ID] [int] NOT NULL,
	[WSG_DTG_ID] [int] NOT NULL,
 CONSTRAINT [PK_TD_WORKFLOW_SIGNOFF] PRIMARY KEY CLUSTERED 
(
	[WSG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_AUDITING_HISTORY](
	[DHT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DHT_DTG_ID] [int] NOT NULL,
	[DHT_DTP_ID] [int] NOT NULL,
	[DHT_CCN_ID] [int] NOT NULL,
	[DHT_DATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_TM_AUDITING_HISTORY] PRIMARY KEY CLUSTERED 
(
	[DHT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_DATA_CELL](
	[DTC_ID] [int] IDENTITY(1,1) NOT NULL,
	[DTC_TDT_IX] [int] NOT NULL,
	[DTC_MTR_ID] [int] NOT NULL,
	[DTC_VRB_ID] [int] NOT NULL,
 CONSTRAINT [PK_TM_DATA_CELL] PRIMARY KEY CLUSTERED 
(
	[DTC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_GROUP_ACCOUNT](
	[GCC_ID] [int] IDENTITY(1,1) NOT NULL,
	[GCC_GRP_ID] [int] NOT NULL,
	[GCC_CCN_ID] [int] NOT NULL,
	[GCC_APPROVE_FLAG] [bit] NOT NULL,
	[GCC_DTG_ID] [int] NOT NULL,
	[GCC_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TM_GROUP_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[GCC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_REASON_RELEASE](
	[RSR_ID] [int] IDENTITY(1,1) NOT NULL,
	[RSR_RSN_ID] [int] NOT NULL,
	[RSR_RLS_ID] [int] NOT NULL,
	[RSR_CMM_ID] [int] NULL,
	[RSR_DTG_ID] [int] NOT NULL,
	[RSR_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TM_REASON_RELEASE] PRIMARY KEY CLUSTERED 
(
	[RSR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_AUDITING_TYPE](
	[DTP_ID] [int] IDENTITY(1,1) NOT NULL,
	[DTP_CODE] [varchar](32) NOT NULL,
	[DTP_VALUE] [varchar](256) NOT NULL,
 CONSTRAINT [PK_TS_AUDITING_TYPE] PRIMARY KEY CLUSTERED 
(
	[DTP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_COPYRIGHT](
	[CPR_ID] [int] IDENTITY(1,1) NOT NULL,
	[CPR_CODE] [nvarchar](32) NOT NULL,
	[CPR_VALUE] [nvarchar](256) NOT NULL,
	[CPR_URL] [nvarchar](2048) NOT NULL,
	[CPR_DTG_ID] [int] NOT NULL,
	[CPR_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TS_COPYRIGHT] PRIMARY KEY CLUSTERED 
(
	[CPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_FORMAT](
	[FRM_ID] [int] IDENTITY(1,1) NOT NULL,
	[FRM_TYPE] [nvarchar](32) NOT NULL,
	[FRM_VERSION] [nvarchar](32) NOT NULL,
	[FRM_DIRECTION] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TS_FORMAT_TYPE] PRIMARY KEY CLUSTERED 
(
	[FRM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_LANGUAGE](
	[LNG_ID] [int] IDENTITY(1,1) NOT NULL,
	[LNG_ISO_CODE] [char](2) NOT NULL,
	[LNG_ISO_NAME] [nvarchar](32) NOT NULL,
	[LNG_DTG_ID] [int] NOT NULL,
	[LNG_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TS_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[LNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_PRIVILEGE](
	[PRV_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRV_CODE] [varchar](32) NOT NULL,
	[PRV_VALUE] [varchar](256) NOT NULL,
 CONSTRAINT [PK_TS_PRIVILEGE] PRIMARY KEY CLUSTERED 
(
	[PRV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_REASON](
	[RSN_ID] [int] IDENTITY(1,1) NOT NULL,
	[RSN_CODE] [nvarchar](32) NOT NULL,
	[RSN_VALUE_INTERNAL] [nvarchar](256) NOT NULL,
	[RSN_VALUE_EXTERNAL] [nvarchar](256) NOT NULL,
	[RSN_LNG_ID] [int] NOT NULL,
	[RSN_DTG_ID] [int] NOT NULL,
	[RSN_DELETE_FLAG] [bit] NOT NULL,
 CONSTRAINT [PK_TS_REASON] PRIMARY KEY CLUSTERED 
(
	[RSN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_REASON_LANGUAGE](
	[RLG_ID] [int] IDENTITY(1,1) NOT NULL,
	[RLG_VALUE_INTERNAL] [nvarchar](256) NOT NULL,
	[RLG_VALUE_EXTERNAL] [nvarchar](256) NOT NULL,
	[RLG_LNG_ID] [int] NOT NULL,
	[RLG_RSN_ID] [int] NOT NULL,
 CONSTRAINT [PK_TS_REASON_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[RLG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_REQUEST](
	[RQS_ID] [int] IDENTITY(1,1) NOT NULL,
	[RQS_CODE] [varchar](32) NOT NULL,
	[RQS_VALUE] [varchar](256) NOT NULL,
 CONSTRAINT [PK_TS_REQUEST] PRIMARY KEY CLUSTERED 
(
	[RQS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_RESPONSE](
	[RSP_ID] [int] IDENTITY(1,1) NOT NULL,
	[RSP_CODE] [varchar](32) NOT NULL,
	[RSP_VALUE] [varchar](256) NOT NULL,
 CONSTRAINT [PK_TS_RESPONSE] PRIMARY KEY CLUSTERED 
(
	[RSP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_SIGNOFF](
	[SGN_ID] [int] IDENTITY(1,1) NOT NULL,
	[SGN_CODE] [varchar](32) NOT NULL,
	[SGN_VALUE] [varchar](256) NOT NULL,
 CONSTRAINT [PK_TS_SIGNOFF] PRIMARY KEY CLUSTERED 
(
	[SGN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Indexes
CREATE NONCLUSTERED INDEX [IX_CCN_AD_FLAG] ON [dbo].[TD_ACCOUNT]
(
	[CCN_AD_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_CCN_EMAIL] ON [dbo].[TD_ACCOUNT]
(
	[CCN_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CCN_LOCKED_FLAG] ON [dbo].[TD_ACCOUNT]
(
	[CCN_LOCKED_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CNN_DELETE_FLAG] ON [dbo].[TD_ACCOUNT]
(
	[CCN_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CNN_DTG_ID] ON [dbo].[TD_ACCOUNT]
(
	[CCN_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CNN_NOTIFICATION_FLAG] ON [dbo].[TD_ACCOUNT]
(
	[CCN_NOTIFICATION_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CNN_PRV_ID] ON [dbo].[TD_ACCOUNT]
(
	[CCN_PRV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_CNN_USERNAME] ON [dbo].[TD_ACCOUNT]
(
	[CCN_USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_LRT_CODE] ON [dbo].[TD_ALERT]
(
	[LRT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LRT_DELETE_FLAG] ON [dbo].[TD_ALERT]
(
	[LRT_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LRT_DTG_ID] ON [dbo].[TD_ALERT]
(
	[LRT_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LLN_LNG_ID] ON [dbo].[TD_ALERT_LANGUAGE]
(
	[LLN_LNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LLN_LRT_ID] ON [dbo].[TD_ALERT_LANGUAGE]
(
	[LLN_LRT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_NLT_BOT_FLAG] ON [dbo].[TD_ANALYTIC]
(
	[NLT_BOT_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_NLT_BROWSER] ON [dbo].[TD_ANALYTIC]
(
	[NLT_BROWSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_NLT_LNG_ISO_CODE] ON [dbo].[TD_ANALYTIC]
(
	[NLT_LNG_ISO_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_NLT_M2M_FLAG] ON [dbo].[TD_ANALYTIC]
(
	[NLT_M2M_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_NLT_MTR_ID] ON [dbo].[TD_ANALYTIC]
(
	[NLT_MTR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_NLT_OS] ON [dbo].[TD_ANALYTIC]
(
	[NLT_OS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_NLT_REFERER] ON [dbo].[TD_ANALYTIC]
(
	[NLT_REFERER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_NLT_USER_FLAG] ON [dbo].[TD_ANALYTIC]
(
	[NLT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_NTL_DATE] ON [dbo].[TD_ANALYTIC]
(
	[NLT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_NTL_FRM_ID] ON [dbo].[TD_ANALYTIC]
(
	[NLT_FRM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_CLS_CODE] ON [dbo].[TD_CLASSIFICATION]
(
	[CLS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CLS_GEO_FLAG] ON [dbo].[TD_CLASSIFICATION]
(
	[CLS_GEO_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CLS_MTR_ID] ON [dbo].[TD_CLASSIFICATION]
(
	[CLS_MTR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_CMM_CODE] ON [dbo].[TD_COMMENT]
(
	[CMM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CMM_DELETE_FLAG] ON [dbo].[TD_COMMENT]
(
	[CMM_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CMM_DTG_ID] ON [dbo].[TD_COMMENT]
(
	[CMM_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_TDT_OPTIMISER] ON [dbo].[TD_DATA]
(
	[TDT_IX] ASC,
	[TDT_MTR_ID] ASC,
	[TDT_STT_ID] ASC,
	[TDT_PRD_ID] ASC
)
INCLUDE([TDT_ID],[TDT_VALUE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_FRQ_CODE] ON [dbo].[TD_FREQUENCY]
(
	[FRQ_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FRQ_MTR_ID] ON [dbo].[TD_FREQUENCY]
(
	[FRQ_MTR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_GRP_CODE] ON [dbo].[TD_GROUP]
(
	[GRP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_GRP_DELETE_FLAG] ON [dbo].[TD_GROUP]
(
	[GRP_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_GRP_DTG_ID] ON [dbo].[TD_GROUP]
(
	[GRP_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_GRP_NAME] ON [dbo].[TD_GROUP]
(
	[GRP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_KPR_CODE] ON [dbo].[TD_KEYWORD_PRODUCT]
(
	[KPR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_KPR_MANDATORY_FLAG] ON [dbo].[TD_KEYWORD_PRODUCT]
(
	[KPR_MANDATORY_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_KPR_PRC_ID] ON [dbo].[TD_KEYWORD_PRODUCT]
(
	[KPR_PRC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_KPR_SINGULARISED_FLAG] ON [dbo].[TD_KEYWORD_PRODUCT]
(
	[KPR_SINGULARISED_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_KPR_VALUE] ON [dbo].[TD_KEYWORD_PRODUCT]
(
	[KPR_VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_KRL_CODE] ON [dbo].[TD_KEYWORD_RELEASE]
(
	[KRL_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_KRL_MANDATORY_FLAG] ON [dbo].[TD_KEYWORD_RELEASE]
(
	[KRL_MANDATORY_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_KRL_RLS_ID] ON [dbo].[TD_KEYWORD_RELEASE]
(
	[KRL_RLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_KRL_SINGULARISED_FLAG] ON [dbo].[TD_KEYWORD_RELEASE]
(
	[KRL_SINGULARISED_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_KRL_VALUE] ON [dbo].[TD_KEYWORD_RELEASE]
(
	[KRL_VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_KSB_CODE] ON [dbo].[TD_KEYWORD_SUBJECT]
(
	[KSB_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_KSB_MANDATORY_FLAG] ON [dbo].[TD_KEYWORD_SUBJECT]
(
	[KSB_MANDATORY_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_KSB_SBJ_ID] ON [dbo].[TD_KEYWORD_SUBJECT]
(
	[KSB_SBJ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_KSB_SINGULARISED_FLAG] ON [dbo].[TD_KEYWORD_SUBJECT]
(
	[KSB_SINGULARISED_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_KSB_VALUE] ON [dbo].[TD_KEYWORD_SUBJECT]
(
	[KSB_VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_LGN_SESSION] ON [dbo].[TD_LOGIN]
(
	[LGN_SESSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_LGN_TOKEN_1FA] ON [dbo].[TD_LOGIN]
(
	[LGN_TOKEN_1FA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_LGN_TOKEN_2FA] ON [dbo].[TD_LOGIN]
(
	[LGN_TOKEN_2FA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LGN_CCN_ID] ON [dbo].[TD_LOGIN]
(
	[LGN_CCN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_MTR_CODE] ON [dbo].[TD_MATRIX]
(
	[MTR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MTR_CPR_ID] ON [dbo].[TD_MATRIX]
(
	[MTR_CPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MTR_DATA_FLAG] ON [dbo].[TD_MATRIX]
(
	[MTR_DATA_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MTR_DELETE_FLAG] ON [dbo].[TD_MATRIX]
(
	[MTR_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MTR_DTG_ID] ON [dbo].[TD_MATRIX]
(
	[MTR_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MTR_FRM_ID] ON [dbo].[TD_MATRIX]
(
	[MTR_FRM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MTR_LNG_ID] ON [dbo].[TD_MATRIX]
(
	[MTR_LNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MTR_OFFICIAL_FLAG] ON [dbo].[TD_MATRIX]
(
	[MTR_OFFICIAL_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_MTR_RLS_ID] ON [dbo].[TD_MATRIX]
(
	[MTR_RLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PRF_DATETIME] ON [dbo].[TD_PERFORMANCE]
(
	[PRF_DATETIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_PRF_SERVER] ON [dbo].[TD_PERFORMANCE]
(
	[PRF_SERVER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_PRD_CODE] ON [dbo].[TD_PERIOD]
(
	[PRD_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PRD_FRQ_ID] ON [dbo].[TD_PERIOD]
(
	[PRD_FRQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_PRC_CODE] ON [dbo].[TD_PRODUCT]
(
	[PRC_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PRC_DELETE_FLAG] ON [dbo].[TD_PRODUCT]
(
	[PRC_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PRC_DTG_ID] ON [dbo].[TD_PRODUCT]
(
	[PRC_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PRC_LNG_ID] ON [dbo].[TD_PRODUCT]
(
	[PRC_LNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PRC_SBJ_ID] ON [dbo].[TD_PRODUCT]
(
	[PRC_SBJ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PLG_LNG_ID] ON [dbo].[TD_PRODUCT_LANGUAGE]
(
	[PLG_LNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PLG_PRC_ID] ON [dbo].[TD_PRODUCT_LANGUAGE]
(
	[PLG_PRC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_ANALYTICAL_FLAG] ON [dbo].[TD_RELEASE]
(
	[RLS_ANALYTICAL_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_ARCHIVE_FLAG] ON [dbo].[TD_RELEASE]
(
	[RLS_ARCHIVE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_CMM_ID] ON [dbo].[TD_RELEASE]
(
	[RLS_CMM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_RLS_CODE] ON [dbo].[TD_RELEASE]
(
	[RLS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_DELETE_FLAG] ON [dbo].[TD_RELEASE]
(
	[RLS_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_DTG_ID] ON [dbo].[TD_RELEASE]
(
	[RLS_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_EXCEPTIONAL_FLAG] ON [dbo].[TD_RELEASE]
(
	[RLS_EXCEPTIONAL_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_EXPERIMENTAL_FLAG] ON [dbo].[TD_RELEASE]
(
	[RLS_EXPERIMENTAL_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_GRP_ID] ON [dbo].[TD_RELEASE]
(
	[RLS_GRP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_LIVE_DATETIME_FROM] ON [dbo].[TD_RELEASE]
(
	[RLS_LIVE_DATETIME_FROM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_LIVE_DATETIME_TO] ON [dbo].[TD_RELEASE]
(
	[RLS_LIVE_DATETIME_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_LIVE_FLAG] ON [dbo].[TD_RELEASE]
(
	[RLS_LIVE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_PRC_ID] ON [dbo].[TD_RELEASE]
(
	[RLS_PRC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_RESERVATION_FLAG] ON [dbo].[TD_RELEASE]
(
	[RLS_RESERVATION_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_REVISION] ON [dbo].[TD_RELEASE]
(
	[RLS_REVISION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLS_VERSION] ON [dbo].[TD_RELEASE]
(
	[RLS_VERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_STT_CODE] ON [dbo].[TD_STATISTIC]
(
	[STT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_STT_MTR_ID] ON [dbo].[TD_STATISTIC]
(
	[STT_MTR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_SBJ_CODE] ON [dbo].[TD_SUBJECT]
(
	[SBJ_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SBJ_DELETE_FLAG] ON [dbo].[TD_SUBJECT]
(
	[SBJ_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SBJ_DTG_ID] ON [dbo].[TD_SUBJECT]
(
	[SBJ_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SBJ_LNG_ID] ON [dbo].[TD_SUBJECT]
(
	[SBJ_LNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SBJ_THM_ID] ON [dbo].[TD_SUBJECT]
(
	[SBJ_THM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SLG_LNG_ID] ON [dbo].[TD_SUBJECT_LANGUAGE]
(
	[SLG_LNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_SLG_SBJ_ID] ON [dbo].[TD_SUBJECT_LANGUAGE]
(
	[SLG_SBJ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_TRC_IP] ON [dbo].[TD_TRACE]
(
	[TRC_IP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_TRC_USERNAME] ON [dbo].[TD_TRACE]
(
	[TRC_USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_VRB_CLS_ID] ON [dbo].[TD_VARIABLE]
(
	[VRB_CLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_VRB_CODE] ON [dbo].[TD_VARIABLE]
(
	[VRB_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_VRB_ELIMINATION_FLAG] ON [dbo].[TD_VARIABLE]
(
	[VRB_ELIMINATION_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRQ_ARCHIVE_FLAG] ON [dbo].[TD_WORKFLOW_REQUEST]
(
	[WRQ_ARCHIVE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRQ_CMM_ID] ON [dbo].[TD_WORKFLOW_REQUEST]
(
	[WRQ_CMM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRQ_CURRENT_FLAG] ON [dbo].[TD_WORKFLOW_REQUEST]
(
	[WRQ_CURRENT_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRQ_DELETE_FLAG] ON [dbo].[TD_WORKFLOW_REQUEST]
(
	[WRQ_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRQ_DTG_ID] ON [dbo].[TD_WORKFLOW_REQUEST]
(
	[WRQ_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRQ_EXCEPTIONAL_FLAG] ON [dbo].[TD_WORKFLOW_REQUEST]
(
	[WRQ_EXCEPTIONAL_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRQ_EXPERIMENTAL_FLAG] ON [dbo].[TD_WORKFLOW_REQUEST]
(
	[WRQ_EXPERIMENTAL_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRQ_RESERVATION_FLAG] ON [dbo].[TD_WORKFLOW_REQUEST]
(
	[WRQ_RESERVATION_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRQ_RLS_ID] ON [dbo].[TD_WORKFLOW_REQUEST]
(
	[WRQ_RLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRQ_RQS_ID] ON [dbo].[TD_WORKFLOW_REQUEST]
(
	[WRQ_RQS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRS_CMM_ID] ON [dbo].[TD_WORKFLOW_RESPONSE]
(
	[WRS_CMM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRS_DTG_ID] ON [dbo].[TD_WORKFLOW_RESPONSE]
(
	[WRS_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRS_RSP_ID] ON [dbo].[TD_WORKFLOW_RESPONSE]
(
	[WRS_RSP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WRS_WRQ_ID] ON [dbo].[TD_WORKFLOW_RESPONSE]
(
	[WRS_WRQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WSG_CMM_ID] ON [dbo].[TD_WORKFLOW_SIGNOFF]
(
	[WSG_CMM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WSG_DTG_ID] ON [dbo].[TD_WORKFLOW_SIGNOFF]
(
	[WSG_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WSG_SGN_ID] ON [dbo].[TD_WORKFLOW_SIGNOFF]
(
	[WSG_SGN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_WSG_WRS_ID] ON [dbo].[TD_WORKFLOW_SIGNOFF]
(
	[WSG_WRS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DHT_CCN_ID] ON [dbo].[TM_AUDITING_HISTORY]
(
	[DHT_CCN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DHT_DTG_ID] ON [dbo].[TM_AUDITING_HISTORY]
(
	[DHT_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DHT_DTP_ID] ON [dbo].[TM_AUDITING_HISTORY]
(
	[DHT_DTP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DTC_OPTIMISER] ON [dbo].[TM_DATA_CELL]
(
	[DTC_MTR_ID] ASC,
	[DTC_VRB_ID] ASC,
	[DTC_TDT_IX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_GCC_APPROVE_FLAG] ON [dbo].[TM_GROUP_ACCOUNT]
(
	[GCC_APPROVE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_GCC_CNN_ID] ON [dbo].[TM_GROUP_ACCOUNT]
(
	[GCC_CCN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_GCC_DELETE_FLAG] ON [dbo].[TM_GROUP_ACCOUNT]
(
	[GCC_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_GCC_DTG_ID] ON [dbo].[TM_GROUP_ACCOUNT]
(
	[GCC_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_GCC_GRP_ID] ON [dbo].[TM_GROUP_ACCOUNT]
(
	[GCC_GRP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RSR_CMM_ID] ON [dbo].[TM_REASON_RELEASE]
(
	[RSR_CMM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RSR_DELETE_FLAG] ON [dbo].[TM_REASON_RELEASE]
(
	[RSR_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RSR_DTG_ID] ON [dbo].[TM_REASON_RELEASE]
(
	[RSR_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RSR_RSL_ID] ON [dbo].[TM_REASON_RELEASE]
(
	[RSR_RLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RSR_RSN_ID] ON [dbo].[TM_REASON_RELEASE]
(
	[RSR_RSN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_CPR_CODE] ON [dbo].[TS_COPYRIGHT]
(
	[CPR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CPR_DELETE] ON [dbo].[TS_COPYRIGHT]
(
	[CPR_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CPR_DTG_ID] ON [dbo].[TS_COPYRIGHT]
(
	[CPR_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_CPR_VALUE] ON [dbo].[TS_COPYRIGHT]
(
	[CPR_VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_FRM_DIRECTION] ON [dbo].[TS_FORMAT]
(
	[FRM_DIRECTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_FRM_TYPE] ON [dbo].[TS_FORMAT]
(
	[FRM_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_FRM_VERSION] ON [dbo].[TS_FORMAT]
(
	[FRM_VERSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LNG_DELETE_FLAG] ON [dbo].[TS_LANGUAGE]
(
	[LNG_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_LNG_DTG_ID] ON [dbo].[TS_LANGUAGE]
(
	[LNG_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_LNG_ISO_CODE] ON [dbo].[TS_LANGUAGE]
(
	[LNG_ISO_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_PRV_CODE] ON [dbo].[TS_PRIVILEGE]
(
	[PRV_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_RSN_CODE] ON [dbo].[TS_REASON]
(
	[RSN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RSN_DELETE_FLAG] ON [dbo].[TS_REASON]
(
	[RSN_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RSN_DTG_ID] ON [dbo].[TS_REASON]
(
	[RSN_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RSN_LNG_ID] ON [dbo].[TS_REASON]
(
	[RSN_LNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLG_LNG_ID] ON [dbo].[TS_REASON_LANGUAGE]
(
	[RLG_LNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_RLG_RSN_ID] ON [dbo].[TS_REASON_LANGUAGE]
(
	[RLG_RSN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_RQS_CODE] ON [dbo].[TS_REQUEST]
(
	[RQS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_RSP_CODE] ON [dbo].[TS_RESPONSE]
(
	[RSP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_SGN_CODE] ON [dbo].[TS_SIGNOFF]
(
	[SGN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_THM_CODE] ON [dbo].[TD_THEME]
(
	[THM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_THM_LNG_ID] ON [dbo].[TD_THEME]
(
	[THM_LNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO


CREATE NONCLUSTERED INDEX [IX_THM_DTG_ID] ON [dbo].[TD_THEME]
(
	[THM_DTG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO


CREATE NONCLUSTERED INDEX [IX_THM_DELETE_FLAG] ON [dbo].[TD_THEME]
(
	[THM_DELETE_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IX_TLG_LNG_ID] ON [dbo].[TD_THEME_LANGUAGE]
(
	[TLG_LNG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO


CREATE NONCLUSTERED INDEX [IX_TLG_THM_ID] ON [dbo].[TD_THEME_LANGUAGE]
(
	[TLG_THM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

-- Defaults
ALTER TABLE [dbo].[TD_ACCOUNT] ADD  CONSTRAINT [DF_TD_ACCOUNT_CCN_NOTIFICATION_FLAG]  DEFAULT ((1)) FOR [CCN_NOTIFICATION_FLAG]
GO
ALTER TABLE [dbo].[TD_ACCOUNT] ADD  CONSTRAINT [DF_TD_ACCOUNT_CCN_DELETE_FLAG]  DEFAULT ((0)) FOR [CCN_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TD_ACCOUNT] ADD  DEFAULT ((0)) FOR [CCN_LOCKED_FLAG]
GO
ALTER TABLE [dbo].[TD_ACCOUNT] ADD  DEFAULT ((0)) FOR [CCN_AD_FLAG]
GO
ALTER TABLE [dbo].[TD_ALERT] ADD  CONSTRAINT [LRT_CODE_SEQUENCE]  DEFAULT (NEXT VALUE FOR [LRT_CODE_seq]) FOR [LRT_CODE]
GO
ALTER TABLE [dbo].[TD_ALERT] ADD  CONSTRAINT [DF_TD_ALERT_LRT_DELETE_FLAG]  DEFAULT ((0)) FOR [LRT_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TD_ANALYTIC] ADD  CONSTRAINT [DF_TD_ANALYTIC_NLT_BOT_FLAG]  DEFAULT ((0)) FOR [NLT_BOT_FLAG]
GO
ALTER TABLE [dbo].[TD_ANALYTIC] ADD  CONSTRAINT [DF_TD_ANALYTIC_NLT_M2M]  DEFAULT ((1)) FOR [NLT_M2M_FLAG]
GO
ALTER TABLE [dbo].[TD_ANALYTIC] ADD  CONSTRAINT [DF_TD_ANALYTIC_NTL_DATE]  DEFAULT (getdate()) FOR [NLT_DATE]
GO
ALTER TABLE [dbo].[TD_ANALYTIC] ADD  CONSTRAINT [DF_TD_ANALYTIC_NLT_USER_FLAG]  DEFAULT ((0)) FOR [NLT_USER_FLAG]
GO
ALTER TABLE [dbo].[TD_CLASSIFICATION] ADD  CONSTRAINT [DF_TD_CLASSIFICATION_CLS_GEO_FLAG]  DEFAULT ((0)) FOR [CLS_GEO_FLAG]
GO
ALTER TABLE [dbo].[TD_COMMENT] ADD  CONSTRAINT [CMM_CODE_SEQUENCE]  DEFAULT (NEXT VALUE FOR [CMM_CODE_seq]) FOR [CMM_CODE]
GO
ALTER TABLE [dbo].[TD_COMMENT] ADD  CONSTRAINT [DF_TD_COMMENT_CMM_DELETE_FLAG]  DEFAULT ((0)) FOR [CMM_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TD_GROUP] ADD  CONSTRAINT [DF_TD_GROUP_GRP_CONTACT_NAME]  DEFAULT (NULL) FOR [GRP_CONTACT_NAME]
GO
ALTER TABLE [dbo].[TD_GROUP] ADD  CONSTRAINT [DF_TD_GROUP_GRP_CONTACT_PHONE]  DEFAULT (NULL) FOR [GRP_CONTACT_PHONE]
GO
ALTER TABLE [dbo].[TD_GROUP] ADD  CONSTRAINT [DF_TD_GROUP_GRP_DELETE_FLAG]  DEFAULT ((0)) FOR [GRP_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TD_KEYWORD_PRODUCT] ADD  CONSTRAINT [KPR_CODE_SEQUENCE]  DEFAULT (NEXT VALUE FOR [dbo].[KPR_CODE_seq]) FOR [KPR_CODE]
GO
ALTER TABLE [dbo].[TD_KEYWORD_PRODUCT] ADD  CONSTRAINT [DF_TD_KEYWORD_PRODUCT_KPR_MADATORY_FLAG]  DEFAULT ((0)) FOR [KPR_MANDATORY_FLAG]
GO
ALTER TABLE [dbo].[TD_KEYWORD_PRODUCT] ADD  CONSTRAINT [DF_TD_KEYWORD_PRODUCT_KPR_SINGULARISED_FLAG]  DEFAULT ((1)) FOR [KPR_SINGULARISED_FLAG]
GO
ALTER TABLE [dbo].[TD_KEYWORD_RELEASE] ADD  CONSTRAINT [KRL_CODE_SEQUENCE]  DEFAULT (NEXT VALUE FOR [dbo].[KRL_CODE_seq]) FOR [KRL_CODE]
GO
ALTER TABLE [dbo].[TD_KEYWORD_RELEASE] ADD  CONSTRAINT [DF_TD_KEYWORD_RELEASE_KRL_MANDATORY_FLAG]  DEFAULT ((0)) FOR [KRL_MANDATORY_FLAG]
GO
ALTER TABLE [dbo].[TD_KEYWORD_RELEASE] ADD  CONSTRAINT [DF_TD_KEYWORD_RELEASE_KRL_SINGULARISED_FLAG]  DEFAULT ((1)) FOR [KRL_SINGULARISED_FLAG]
GO
ALTER TABLE [dbo].[TD_KEYWORD_SUBJECT] ADD  CONSTRAINT [KSB_CODE_SEQUENCE]  DEFAULT (NEXT VALUE FOR [dbo].[KSB_CODE_seq]) FOR [KSB_CODE]
GO
ALTER TABLE [dbo].[TD_KEYWORD_SUBJECT] ADD  CONSTRAINT [DF_TD_KEYWORD_SUBJECT_KSB_MANDATORY_FLAG]  DEFAULT ((0)) FOR [KSB_MANDATORY_FLAG]
GO
ALTER TABLE [dbo].[TD_KEYWORD_SUBJECT] ADD  CONSTRAINT [DF_TD_KEYWORD_SUBJECT_KSB_SINGULARISED_FLAG]  DEFAULT ((1)) FOR [KSB_SINGULARISED_FLAG]
GO
ALTER TABLE [dbo].[TD_MATRIX] ADD  CONSTRAINT [DF_TD_MATRIX_MTR_OFFICIAL_FLAG]  DEFAULT ((0)) FOR [MTR_OFFICIAL_FLAG]
GO
ALTER TABLE [dbo].[TD_MATRIX] ADD  CONSTRAINT [DF_TD_MATRIX_MTR_DELETE_FLAG]  DEFAULT ((0)) FOR [MTR_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TD_MATRIX] ADD  CONSTRAINT [DF_TD_MATRIX_MTR_DATA_FLAG]  DEFAULT ((0)) FOR [MTR_DATA_FLAG]
GO
ALTER TABLE [dbo].[TD_PRODUCT] ADD  CONSTRAINT [DF_TD_PRODUCT_PRC_DELETE_FLAG]  DEFAULT ((0)) FOR [PRC_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TD_RELEASE] ADD  CONSTRAINT [RLS_CODE_SEQUENCE]  DEFAULT (NEXT VALUE FOR [dbo].[RLS_CODE_seq]) FOR [RLS_CODE]
GO
ALTER TABLE [dbo].[TD_RELEASE] ADD  CONSTRAINT [DF_TD_RELEASE_RLS_LIVE_FLAG]  DEFAULT ((0)) FOR [RLS_LIVE_FLAG]
GO
ALTER TABLE [dbo].[TD_RELEASE] ADD  CONSTRAINT [DF_TD_RELEASE_RLS_EXCEPTIONAL_FLAG]  DEFAULT ((0)) FOR [RLS_EXCEPTIONAL_FLAG]
GO
ALTER TABLE [dbo].[TD_RELEASE] ADD  CONSTRAINT [DF_TD_RELEASE_RLS_RESERVATION_FLAG]  DEFAULT ((0)) FOR [RLS_RESERVATION_FLAG]
GO
ALTER TABLE [dbo].[TD_RELEASE] ADD  CONSTRAINT [DF_TD_RELEASE_RLS_ARCHIVE_FLAG]  DEFAULT ((0)) FOR [RLS_ARCHIVE_FLAG]
GO
ALTER TABLE [dbo].[TD_RELEASE] ADD  CONSTRAINT [DF_TD_RELEASE_RLS_ANALYTICAL_FLAG]  DEFAULT ((0)) FOR [RLS_ANALYTICAL_FLAG]
GO
ALTER TABLE [dbo].[TD_RELEASE] ADD  CONSTRAINT [DF_TD_RELEASE_RLS_EXPERIMENTAL_FLAG]  DEFAULT ((0)) FOR [RLS_EXPERIMENTAL_FLAG]
GO
ALTER TABLE [dbo].[TD_RELEASE] ADD  CONSTRAINT [DF_TD_RELEASE_RLS_CMM_ID]  DEFAULT (NULL) FOR [RLS_CMM_ID]
GO
ALTER TABLE [dbo].[TD_RELEASE] ADD  CONSTRAINT [DF_TD_RELEASE_RLS_DELETE_FLAG]  DEFAULT ((0)) FOR [RLS_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TD_STATISTIC] ADD  CONSTRAINT [DF_TD_STATISTIC_STT_DECIMAL]  DEFAULT ((0)) FOR [STT_DECIMAL]
GO
ALTER TABLE [dbo].[TD_SUBJECT] ADD  CONSTRAINT [SBJ_CODE_SEQUENCE]  DEFAULT (NEXT VALUE FOR [dbo].[SBJ_CODE_seq]) FOR [SBJ_CODE]
GO
ALTER TABLE [dbo].[TD_SUBJECT] ADD  CONSTRAINT [DF_TD_SUBJECT_SBJ_DELETE_FLAG]  DEFAULT ((0)) FOR [SBJ_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_REQUEST] ADD  CONSTRAINT [DF_TD_WORKFLOW_REQUEST_WRQ_EXPERIMENTAL_FLAG]  DEFAULT ((0)) FOR [WRQ_EXPERIMENTAL_FLAG]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_REQUEST] ADD  CONSTRAINT [DF_TD_WORKFLOW_REQUEST_WRQ_CURRENT_FLAG]  DEFAULT ((0)) FOR [WRQ_CURRENT_FLAG]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_REQUEST] ADD  CONSTRAINT [DF_TD_WORKFLOW_REQUEST_WRQ_DELETE_FLAG]  DEFAULT ((0)) FOR [WRQ_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TM_GROUP_ACCOUNT] ADD  CONSTRAINT [DF_TM_GROUP_ACCOUNT_GCC_APPROVE_FLAG]  DEFAULT ((0)) FOR [GCC_APPROVE_FLAG]
GO
ALTER TABLE [dbo].[TM_GROUP_ACCOUNT] ADD  CONSTRAINT [DF_TM_GROUP_ACCOUNT_GCC_DELETE_FLAG]  DEFAULT ((0)) FOR [GCC_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TM_REASON_RELEASE] ADD  CONSTRAINT [DF_TM_REASON_RELEASE_RSR_DELETE_FLAG]  DEFAULT ((0)) FOR [RSR_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TS_COPYRIGHT] ADD  CONSTRAINT [DF_TS_COPYRIGHT_CPR_DELETE_FLAG]  DEFAULT ((0)) FOR [CPR_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TS_LANGUAGE] ADD  CONSTRAINT [DF_TS_LANGUAGE_LNG_DELETE_FLAG]  DEFAULT ((0)) FOR [LNG_DELETE_FLAG]
GO
ALTER TABLE [dbo].[TS_REASON] ADD  CONSTRAINT [DF_TS_REASON_RSN_DELETE_FLAG]  DEFAULT ((0)) FOR [RSN_DELETE_FLAG]
GO

-- Data
SET IDENTITY_INSERT [dbo].[TD_AUDITING] ON 
INSERT [dbo].[TD_AUDITING] ([DTG_ID]) VALUES (1)
INSERT [dbo].[TD_AUDITING] ([DTG_ID]) VALUES (2)
SET IDENTITY_INSERT [dbo].[TD_AUDITING] OFF

SET IDENTITY_INSERT [dbo].[TD_ACCOUNT] ON 
INSERT [dbo].[TD_ACCOUNT] ([CCN_ID], [CCN_USERNAME], [CCN_DISPLAYNAME], [CCN_EMAIL], [CCN_AD_FLAG], [CCN_PRV_ID], [CCN_NOTIFICATION_FLAG], [CCN_DTG_ID], [CCN_DELETE_FLAG]) VALUES (1, N'$(CCN_USERNAME)', IIF(N'$(CCN_DISPLAYNAME)' = '*********', NULL, N'$(CCN_DISPLAYNAME)'), IIF(N'$(CCN_EMAIL)' = '*********', NULL, N'$(CCN_EMAIL)'), N'$(CCN_AD_FLAG)', 1, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[TD_ACCOUNT] OFF

SET IDENTITY_INSERT [dbo].[TD_LOGIN] ON 
INSERT [dbo].[TD_LOGIN] ([LGN_ID], [LGN_CCN_ID]) VALUES (1, 1)
SET IDENTITY_INSERT [dbo].[TD_LOGIN] OFF

SET IDENTITY_INSERT [dbo].[TS_AUDITING_TYPE] ON 
INSERT [dbo].[TS_AUDITING_TYPE] ([DTP_ID], [DTP_CODE], [DTP_VALUE]) VALUES (1, N'CREATED', N'Created')
INSERT [dbo].[TS_AUDITING_TYPE] ([DTP_ID], [DTP_CODE], [DTP_VALUE]) VALUES (2, N'UPDATED', N'Updated')
INSERT [dbo].[TS_AUDITING_TYPE] ([DTP_ID], [DTP_CODE], [DTP_VALUE]) VALUES (3, N'DELETED', N'Deleted')
SET IDENTITY_INSERT [dbo].[TS_AUDITING_TYPE] OFF

SET IDENTITY_INSERT [dbo].[TM_AUDITING_HISTORY] ON 
INSERT [dbo].[TM_AUDITING_HISTORY] ([DHT_ID],[DHT_DTG_ID], [DHT_DTP_ID], [DHT_CCN_ID], [DHT_DATETIME]) VALUES (1, 1, 1, 1, GETDATE())
INSERT [dbo].[TM_AUDITING_HISTORY] ([DHT_ID], [DHT_DTG_ID], [DHT_DTP_ID], [DHT_CCN_ID], [DHT_DATETIME]) VALUES (2, 2, 1, 1, GETDATE())
SET IDENTITY_INSERT [dbo].[TM_AUDITING_HISTORY] OFF

SET IDENTITY_INSERT [dbo].[TS_FORMAT] ON 													   
INSERT [dbo].[TS_FORMAT] ([FRM_ID], [FRM_TYPE], [FRM_VERSION], [FRM_DIRECTION]) VALUES (1, N'PX', N'2013', 'UPLOAD')
INSERT [dbo].[TS_FORMAT] ([FRM_ID], [FRM_TYPE], [FRM_VERSION], [FRM_DIRECTION]) VALUES (2, N'PX', N'2013', 'DOWNLOAD') 
INSERT [dbo].[TS_FORMAT] ([FRM_ID], [FRM_TYPE], [FRM_VERSION], [FRM_DIRECTION]) VALUES (3, N'JSON-stat', N'1.0', 'DOWNLOAD')  
SET IDENTITY_INSERT [dbo].[TS_FORMAT] OFF

SET IDENTITY_INSERT [dbo].[TS_LANGUAGE] ON 
INSERT [dbo].[TS_LANGUAGE] ([LNG_ID], [LNG_ISO_CODE], [LNG_ISO_NAME], [LNG_DTG_ID], [LNG_DELETE_FLAG]) VALUES (1, N'en', N'English', 2, 0)
SET IDENTITY_INSERT [dbo].[TS_LANGUAGE] OFF

SET IDENTITY_INSERT [dbo].[TS_PRIVILEGE] ON 
INSERT [dbo].[TS_PRIVILEGE] ([PRV_ID], [PRV_CODE], [PRV_VALUE]) VALUES (1, N'ADMINISTRATOR', N'administrator')
INSERT [dbo].[TS_PRIVILEGE] ([PRV_ID], [PRV_CODE], [PRV_VALUE]) VALUES (2, N'POWER_USER', N'power-user')
INSERT [dbo].[TS_PRIVILEGE] ([PRV_ID], [PRV_CODE], [PRV_VALUE]) VALUES (3, N'MODERATOR', N'moderator')
SET IDENTITY_INSERT [dbo].[TS_PRIVILEGE] OFF

SET IDENTITY_INSERT [dbo].[TS_REQUEST] ON 
INSERT [dbo].[TS_REQUEST] ([RQS_ID], [RQS_CODE], [RQS_VALUE]) VALUES (1, N'PUBLISH', N'publish')
INSERT [dbo].[TS_REQUEST] ([RQS_ID], [RQS_CODE], [RQS_VALUE]) VALUES (2, N'PROPERTY', N'update-properties')
INSERT [dbo].[TS_REQUEST] ([RQS_ID], [RQS_CODE], [RQS_VALUE]) VALUES (3, N'DELETE', N'delete')
SET IDENTITY_INSERT [dbo].[TS_REQUEST] OFF

SET IDENTITY_INSERT [dbo].[TS_RESPONSE] ON 
INSERT [dbo].[TS_RESPONSE] ([RSP_ID], [RSP_CODE], [RSP_VALUE]) VALUES (1, N'APPROVED', N'approved')
INSERT [dbo].[TS_RESPONSE] ([RSP_ID], [RSP_CODE], [RSP_VALUE]) VALUES (2, N'REJECTED', N'rejected')
SET IDENTITY_INSERT [dbo].[TS_RESPONSE] OFF

SET IDENTITY_INSERT [dbo].[TS_SIGNOFF] ON 
INSERT [dbo].[TS_SIGNOFF] ([SGN_ID], [SGN_CODE], [SGN_VALUE]) VALUES (1, N'APPROVED', N'published')
INSERT [dbo].[TS_SIGNOFF] ([SGN_ID], [SGN_CODE], [SGN_VALUE]) VALUES (2, N'REJECTED', N'rejected')
SET IDENTITY_INSERT [dbo].[TS_SIGNOFF] OFF

-- Constraints
ALTER TABLE [dbo].[TD_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_TD_ACCOUNT_TD_AUDITING] FOREIGN KEY([CCN_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TD_ACCOUNT] CHECK CONSTRAINT [FK_TD_ACCOUNT_TD_AUDITING]
GO
ALTER TABLE [dbo].[TD_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_TD_ACCOUNT_TS_PRIVILEGE] FOREIGN KEY([CCN_PRV_ID])
REFERENCES [dbo].[TS_PRIVILEGE] ([PRV_ID])
GO
ALTER TABLE [dbo].[TD_ACCOUNT] CHECK CONSTRAINT [FK_TD_ACCOUNT_TS_PRIVILEGE]
GO
ALTER TABLE [dbo].[TD_ALERT]  WITH CHECK ADD  CONSTRAINT [FK_TD_ALERT_TD_AUDITING] FOREIGN KEY([LRT_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TD_ALERT] CHECK CONSTRAINT [FK_TD_ALERT_TD_AUDITING]
GO
ALTER TABLE [dbo].[TD_ALERT_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_TD_ALERT_LANGUAGE_TD_ALERT] FOREIGN KEY([LLN_LRT_ID])
REFERENCES [dbo].[TD_ALERT] ([LRT_ID])
GO
ALTER TABLE [dbo].[TD_ALERT_LANGUAGE] CHECK CONSTRAINT [FK_TD_ALERT_LANGUAGE_TD_ALERT]
GO
ALTER TABLE [dbo].[TD_ALERT_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_TD_ALERT_LANGUAGE_TS_LANGUAGE] FOREIGN KEY([LLN_LNG_ID])
REFERENCES [dbo].[TS_LANGUAGE] ([LNG_ID])
GO
ALTER TABLE [dbo].[TD_ALERT_LANGUAGE] CHECK CONSTRAINT [FK_TD_ALERT_LANGUAGE_TS_LANGUAGE]
GO
ALTER TABLE [dbo].[TD_ANALYTIC]  WITH CHECK ADD  CONSTRAINT [FK_TD_ANALYTIC_TD_MATRIX] FOREIGN KEY([NLT_MTR_ID])
REFERENCES [dbo].[TD_MATRIX] ([MTR_ID])
GO
ALTER TABLE [dbo].[TD_ANALYTIC] CHECK CONSTRAINT [FK_TD_ANALYTIC_TD_MATRIX]
GO
ALTER TABLE [dbo].[TD_CLASSIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_TD_CLASSIFICATION_TD_MATRIX] FOREIGN KEY([CLS_MTR_ID])
REFERENCES [dbo].[TD_MATRIX] ([MTR_ID])
GO
ALTER TABLE [dbo].[TD_CLASSIFICATION] CHECK CONSTRAINT [FK_TD_CLASSIFICATION_TD_MATRIX]
GO
ALTER TABLE [dbo].[TD_COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_TD_COMMENT_TD_AUDITING] FOREIGN KEY([CMM_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TD_COMMENT] CHECK CONSTRAINT [FK_TD_COMMENT_TD_AUDITING]
GO
ALTER TABLE [dbo].[TD_FREQUENCY]  WITH CHECK ADD  CONSTRAINT [FK_TD_FREQUENCY_TD_MATRIX] FOREIGN KEY([FRQ_MTR_ID])
REFERENCES [dbo].[TD_MATRIX] ([MTR_ID])
GO
ALTER TABLE [dbo].[TD_FREQUENCY] CHECK CONSTRAINT [FK_TD_FREQUENCY_TD_MATRIX]
GO
ALTER TABLE [dbo].[TD_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_TD_GROUP_TD_AUDITING] FOREIGN KEY([GRP_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TD_GROUP] CHECK CONSTRAINT [FK_TD_GROUP_TD_AUDITING]
GO
ALTER TABLE [dbo].[TD_KEYWORD_PRODUCT]  WITH NOCHECK ADD  CONSTRAINT [FK_TD_KEYWORD_PRODUCT_TD_PRODUCT] FOREIGN KEY([KPR_PRC_ID])
REFERENCES [dbo].[TD_PRODUCT] ([PRC_ID])
GO
ALTER TABLE [dbo].[TD_KEYWORD_PRODUCT] CHECK CONSTRAINT [FK_TD_KEYWORD_PRODUCT_TD_PRODUCT]
GO
ALTER TABLE [dbo].[TD_KEYWORD_RELEASE]  WITH NOCHECK ADD  CONSTRAINT [FK_TD_KEYWORD_RELEASE_TD_RELEASE] FOREIGN KEY([KRL_RLS_ID])
REFERENCES [dbo].[TD_RELEASE] ([RLS_ID])
GO
ALTER TABLE [dbo].[TD_KEYWORD_RELEASE] CHECK CONSTRAINT [FK_TD_KEYWORD_RELEASE_TD_RELEASE]
GO
ALTER TABLE [dbo].[TD_KEYWORD_SUBJECT]  WITH NOCHECK ADD  CONSTRAINT [FK_TD_KEYWORD_SUBJECT_TD_SUBJECT] FOREIGN KEY([KSB_SBJ_ID])
REFERENCES [dbo].[TD_SUBJECT] ([SBJ_ID])
GO
ALTER TABLE [dbo].[TD_KEYWORD_SUBJECT] CHECK CONSTRAINT [FK_TD_KEYWORD_SUBJECT_TD_SUBJECT]
GO
ALTER TABLE [dbo].[TD_SUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_TD_SUBJECT_TD_THEME] FOREIGN KEY([SBJ_THM_ID])
REFERENCES [dbo].[TD_THEME] ([THM_ID])
GO
ALTER TABLE [dbo].[TD_SUBJECT] CHECK CONSTRAINT [FK_TD_SUBJECT_TD_THEME]
GO
ALTER TABLE [dbo].[TD_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_TD_LOGIN_TD_ACCOUNT] FOREIGN KEY([LGN_CCN_ID])
REFERENCES [dbo].[TD_ACCOUNT] ([CCN_ID])
GO
ALTER TABLE [dbo].[TD_LOGIN] CHECK CONSTRAINT [FK_TD_LOGIN_TD_ACCOUNT]
GO
ALTER TABLE [dbo].[TD_MATRIX]  WITH CHECK ADD  CONSTRAINT [FK_TD_MATRIX_TD_AUDITING] FOREIGN KEY([MTR_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TD_MATRIX] CHECK CONSTRAINT [FK_TD_MATRIX_TD_AUDITING]
GO
ALTER TABLE [dbo].[TD_MATRIX]  WITH CHECK ADD  CONSTRAINT [FK_TD_MATRIX_TD_RELEASE] FOREIGN KEY([MTR_RLS_ID])
REFERENCES [dbo].[TD_RELEASE] ([RLS_ID])
GO
ALTER TABLE [dbo].[TD_MATRIX] CHECK CONSTRAINT [FK_TD_MATRIX_TD_RELEASE]
GO
ALTER TABLE [dbo].[TD_MATRIX]  WITH CHECK ADD  CONSTRAINT [FK_TD_MATRIX_TS_COPYRIGHT] FOREIGN KEY([MTR_CPR_ID])
REFERENCES [dbo].[TS_COPYRIGHT] ([CPR_ID])
GO
ALTER TABLE [dbo].[TD_MATRIX] CHECK CONSTRAINT [FK_TD_MATRIX_TS_COPYRIGHT]
GO
ALTER TABLE [dbo].[TD_MATRIX]  WITH CHECK ADD  CONSTRAINT [FK_TD_MATRIX_TS_FORMAT] FOREIGN KEY([MTR_FRM_ID])
REFERENCES [dbo].[TS_FORMAT] ([FRM_ID])
GO
ALTER TABLE [dbo].[TD_MATRIX] CHECK CONSTRAINT [FK_TD_MATRIX_TS_FORMAT]
GO
ALTER TABLE [dbo].[TD_MATRIX]  WITH CHECK ADD  CONSTRAINT [FK_TD_MATRIX_TS_LANGUAGE] FOREIGN KEY([MTR_LNG_ID])
REFERENCES [dbo].[TS_LANGUAGE] ([LNG_ID])
GO
ALTER TABLE [dbo].[TD_MATRIX] CHECK CONSTRAINT [FK_TD_MATRIX_TS_LANGUAGE]
GO
ALTER TABLE [dbo].[TD_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_TD_PRODUCT_TD_AUDITING] FOREIGN KEY([PRC_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TD_PRODUCT] CHECK CONSTRAINT [FK_TD_PRODUCT_TD_AUDITING]
GO
ALTER TABLE [dbo].[TD_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_TD_PRODUCT_TS_LANGUAGE] FOREIGN KEY([PRC_LNG_ID])
REFERENCES [dbo].[TS_LANGUAGE] ([LNG_ID])
GO
ALTER TABLE [dbo].[TD_PRODUCT] CHECK CONSTRAINT [FK_TD_PRODUCT_TS_LANGUAGE]
GO
ALTER TABLE [dbo].[TD_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_TD_PRODUCT_TS_SUBJECT] FOREIGN KEY([PRC_SBJ_ID])
REFERENCES [dbo].[TD_SUBJECT] ([SBJ_ID])
GO
ALTER TABLE [dbo].[TD_PRODUCT] CHECK CONSTRAINT [FK_TD_PRODUCT_TS_SUBJECT]
GO
ALTER TABLE [dbo].[TD_PRODUCT_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_TD_PRODUCT_LANGUAGE_TD_PRODUCT] FOREIGN KEY([PLG_PRC_ID])
REFERENCES [dbo].[TD_PRODUCT] ([PRC_ID])
GO
ALTER TABLE [dbo].[TD_PRODUCT_LANGUAGE] CHECK CONSTRAINT [FK_TD_PRODUCT_LANGUAGE_TD_PRODUCT]
GO
ALTER TABLE [dbo].[TD_PRODUCT_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_TD_PRODUCT_LANGUAGE_TS_LANGUAGE] FOREIGN KEY([PLG_LNG_ID])
REFERENCES [dbo].[TS_LANGUAGE] ([LNG_ID])
GO
ALTER TABLE [dbo].[TD_PRODUCT_LANGUAGE] CHECK CONSTRAINT [FK_TD_PRODUCT_LANGUAGE_TS_LANGUAGE]
GO
ALTER TABLE [dbo].[TD_RELEASE]  WITH CHECK ADD  CONSTRAINT [FK_TD_RELEASE_TD_AUDITING] FOREIGN KEY([RLS_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TD_RELEASE] CHECK CONSTRAINT [FK_TD_RELEASE_TD_AUDITING]
GO
ALTER TABLE [dbo].[TD_RELEASE]  WITH CHECK ADD  CONSTRAINT [FK_TD_RELEASE_TD_COMMENT] FOREIGN KEY([RLS_CMM_ID])
REFERENCES [dbo].[TD_COMMENT] ([CMM_ID])
GO
ALTER TABLE [dbo].[TD_RELEASE] CHECK CONSTRAINT [FK_TD_RELEASE_TD_COMMENT]
GO
ALTER TABLE [dbo].[TD_RELEASE]  WITH CHECK ADD  CONSTRAINT [FK_TD_RELEASE_TD_GROUP] FOREIGN KEY([RLS_GRP_ID])
REFERENCES [dbo].[TD_GROUP] ([GRP_ID])
GO
ALTER TABLE [dbo].[TD_RELEASE] CHECK CONSTRAINT [FK_TD_RELEASE_TD_GROUP]
GO
ALTER TABLE [dbo].[TD_RELEASE]  WITH CHECK ADD  CONSTRAINT [FK_TD_RELEASE_TD_PRODUCT] FOREIGN KEY([RLS_PRC_ID])
REFERENCES [dbo].[TD_PRODUCT] ([PRC_ID])
GO
ALTER TABLE [dbo].[TD_RELEASE] CHECK CONSTRAINT [FK_TD_RELEASE_TD_PRODUCT]
GO
ALTER TABLE [dbo].[TD_STATISTIC]  WITH CHECK ADD  CONSTRAINT [FK_TD_STATISTIC_TD_MATRIX] FOREIGN KEY([STT_MTR_ID])
REFERENCES [dbo].[TD_MATRIX] ([MTR_ID])
GO
ALTER TABLE [dbo].[TD_STATISTIC] CHECK CONSTRAINT [FK_TD_STATISTIC_TD_MATRIX]
GO
ALTER TABLE [dbo].[TD_SUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_TD_SUBJECT_TS_LANGUAGE] FOREIGN KEY([SBJ_LNG_ID])
REFERENCES [dbo].[TS_LANGUAGE] ([LNG_ID])
GO
ALTER TABLE [dbo].[TD_SUBJECT] CHECK CONSTRAINT [FK_TD_SUBJECT_TS_LANGUAGE]
GO
ALTER TABLE [dbo].[TD_SUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_TS_SUBJECT_TD_AUDITING] FOREIGN KEY([SBJ_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TD_SUBJECT] CHECK CONSTRAINT [FK_TS_SUBJECT_TD_AUDITING]
GO
ALTER TABLE [dbo].[TD_SUBJECT_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_TD_SUBJECT_LANGUAGE_TD_SUBJECT] FOREIGN KEY([SLG_SBJ_ID])
REFERENCES [dbo].[TD_SUBJECT] ([SBJ_ID])
GO
ALTER TABLE [dbo].[TD_SUBJECT_LANGUAGE] CHECK CONSTRAINT [FK_TD_SUBJECT_LANGUAGE_TD_SUBJECT]
GO
ALTER TABLE [dbo].[TD_SUBJECT_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_TD_SUBJECT_LANGUAGE_TS_LANGUAGE] FOREIGN KEY([SLG_LNG_ID])
REFERENCES [dbo].[TS_LANGUAGE] ([LNG_ID])
GO
ALTER TABLE [dbo].[TD_SUBJECT_LANGUAGE] CHECK CONSTRAINT [FK_TD_SUBJECT_LANGUAGE_TS_LANGUAGE]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_REQUEST_TD_AUDITING] FOREIGN KEY([WRQ_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_REQUEST] CHECK CONSTRAINT [FK_TD_WORKFLOW_REQUEST_TD_AUDITING]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_REQUEST_TD_COMMENT] FOREIGN KEY([WRQ_CMM_ID])
REFERENCES [dbo].[TD_COMMENT] ([CMM_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_REQUEST] CHECK CONSTRAINT [FK_TD_WORKFLOW_REQUEST_TD_COMMENT]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_REQUEST_TD_RELEASE] FOREIGN KEY([WRQ_RLS_ID])
REFERENCES [dbo].[TD_RELEASE] ([RLS_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_REQUEST] CHECK CONSTRAINT [FK_TD_WORKFLOW_REQUEST_TD_RELEASE]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_REQUEST_TS_REQUEST] FOREIGN KEY([WRQ_RQS_ID])
REFERENCES [dbo].[TS_REQUEST] ([RQS_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_REQUEST] CHECK CONSTRAINT [FK_TD_WORKFLOW_REQUEST_TS_REQUEST]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_RESPONSE]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_RESPONSE_TD_AUDITING] FOREIGN KEY([WRS_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_RESPONSE] CHECK CONSTRAINT [FK_TD_WORKFLOW_RESPONSE_TD_AUDITING]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_RESPONSE]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_RESPONSE_TD_COMMENT] FOREIGN KEY([WRS_CMM_ID])
REFERENCES [dbo].[TD_COMMENT] ([CMM_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_RESPONSE] CHECK CONSTRAINT [FK_TD_WORKFLOW_RESPONSE_TD_COMMENT]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_RESPONSE]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_RESPONSE_TD_WORKFLOW_REQUEST] FOREIGN KEY([WRS_WRQ_ID])
REFERENCES [dbo].[TD_WORKFLOW_REQUEST] ([WRQ_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_RESPONSE] CHECK CONSTRAINT [FK_TD_WORKFLOW_RESPONSE_TD_WORKFLOW_REQUEST]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_RESPONSE]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_RESPONSE_TS_RESPONSE] FOREIGN KEY([WRS_RSP_ID])
REFERENCES [dbo].[TS_RESPONSE] ([RSP_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_RESPONSE] CHECK CONSTRAINT [FK_TD_WORKFLOW_RESPONSE_TS_RESPONSE]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_SIGNOFF]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_SIGNOFF_TD_AUDITING] FOREIGN KEY([WSG_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_SIGNOFF] CHECK CONSTRAINT [FK_TD_WORKFLOW_SIGNOFF_TD_AUDITING]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_SIGNOFF]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_SIGNOFF_TD_COMMENT] FOREIGN KEY([WSG_CMM_ID])
REFERENCES [dbo].[TD_COMMENT] ([CMM_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_SIGNOFF] CHECK CONSTRAINT [FK_TD_WORKFLOW_SIGNOFF_TD_COMMENT]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_SIGNOFF]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_SIGNOFF_TD_WORKFLOW_RESPONSE] FOREIGN KEY([WSG_WRS_ID])
REFERENCES [dbo].[TD_WORKFLOW_RESPONSE] ([WRS_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_SIGNOFF] CHECK CONSTRAINT [FK_TD_WORKFLOW_SIGNOFF_TD_WORKFLOW_RESPONSE]
GO
ALTER TABLE [dbo].[TD_WORKFLOW_SIGNOFF]  WITH CHECK ADD  CONSTRAINT [FK_TD_WORKFLOW_SIGNOFF_TS_SIGNOFF] FOREIGN KEY([WSG_SGN_ID])
REFERENCES [dbo].[TS_SIGNOFF] ([SGN_ID])
GO
ALTER TABLE [dbo].[TD_WORKFLOW_SIGNOFF] CHECK CONSTRAINT [FK_TD_WORKFLOW_SIGNOFF_TS_SIGNOFF]
GO
ALTER TABLE [dbo].[TM_AUDITING_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_TM_AUDITING_HISTORY_TD_ACCOUNT] FOREIGN KEY([DHT_CCN_ID])
REFERENCES [dbo].[TD_ACCOUNT] ([CCN_ID])
GO
ALTER TABLE [dbo].[TM_AUDITING_HISTORY] CHECK CONSTRAINT [FK_TM_AUDITING_HISTORY_TD_ACCOUNT]
GO
ALTER TABLE [dbo].[TM_AUDITING_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_TM_AUDITING_HISTORY_TD_AUDITING] FOREIGN KEY([DHT_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TM_AUDITING_HISTORY] CHECK CONSTRAINT [FK_TM_AUDITING_HISTORY_TD_AUDITING]
GO
ALTER TABLE [dbo].[TM_AUDITING_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_TM_AUDITING_HISTORY_TS_AUDITING_TYPE] FOREIGN KEY([DHT_DTP_ID])
REFERENCES [dbo].[TS_AUDITING_TYPE] ([DTP_ID])
GO
ALTER TABLE [dbo].[TM_AUDITING_HISTORY] CHECK CONSTRAINT [FK_TM_AUDITING_HISTORY_TS_AUDITING_TYPE]
GO
ALTER TABLE [dbo].[TM_GROUP_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_TM_GROUP_ACCOUNT_TD_ACCOUNT] FOREIGN KEY([GCC_CCN_ID])
REFERENCES [dbo].[TD_ACCOUNT] ([CCN_ID])
GO
ALTER TABLE [dbo].[TM_GROUP_ACCOUNT] CHECK CONSTRAINT [FK_TM_GROUP_ACCOUNT_TD_ACCOUNT]
GO
ALTER TABLE [dbo].[TM_GROUP_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_TM_GROUP_ACCOUNT_TD_AUDITING] FOREIGN KEY([GCC_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TM_GROUP_ACCOUNT] CHECK CONSTRAINT [FK_TM_GROUP_ACCOUNT_TD_AUDITING]
GO
ALTER TABLE [dbo].[TM_GROUP_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_TM_GROUP_ACCOUNT_TD_GROUP] FOREIGN KEY([GCC_GRP_ID])
REFERENCES [dbo].[TD_GROUP] ([GRP_ID])
GO
ALTER TABLE [dbo].[TM_GROUP_ACCOUNT] CHECK CONSTRAINT [FK_TM_GROUP_ACCOUNT_TD_GROUP]
GO
ALTER TABLE [dbo].[TM_REASON_RELEASE]  WITH CHECK ADD  CONSTRAINT [FK_TM_REASON_RELEASE_TD_AUDITING] FOREIGN KEY([RSR_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TM_REASON_RELEASE] CHECK CONSTRAINT [FK_TM_REASON_RELEASE_TD_AUDITING]
GO
ALTER TABLE [dbo].[TM_REASON_RELEASE]  WITH CHECK ADD  CONSTRAINT [FK_TM_REASON_RELEASE_TD_COMMENT] FOREIGN KEY([RSR_CMM_ID])
REFERENCES [dbo].[TD_COMMENT] ([CMM_ID])
GO
ALTER TABLE [dbo].[TM_REASON_RELEASE] CHECK CONSTRAINT [FK_TM_REASON_RELEASE_TD_COMMENT]
GO
ALTER TABLE [dbo].[TM_REASON_RELEASE]  WITH CHECK ADD  CONSTRAINT [FK_TM_REASON_RELEASE_TD_RELEASE] FOREIGN KEY([RSR_RLS_ID])
REFERENCES [dbo].[TD_RELEASE] ([RLS_ID])
GO
ALTER TABLE [dbo].[TM_REASON_RELEASE] CHECK CONSTRAINT [FK_TM_REASON_RELEASE_TD_RELEASE]
GO
ALTER TABLE [dbo].[TM_REASON_RELEASE]  WITH CHECK ADD  CONSTRAINT [FK_TM_REASON_RELEASE_TS_REASON] FOREIGN KEY([RSR_RSN_ID])
REFERENCES [dbo].[TS_REASON] ([RSN_ID])
GO
ALTER TABLE [dbo].[TM_REASON_RELEASE] CHECK CONSTRAINT [FK_TM_REASON_RELEASE_TS_REASON]
GO
ALTER TABLE [dbo].[TS_COPYRIGHT]  WITH CHECK ADD  CONSTRAINT [FK_TS_COPYRIGHT_TD_AUDITING] FOREIGN KEY([CPR_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TS_COPYRIGHT] CHECK CONSTRAINT [FK_TS_COPYRIGHT_TD_AUDITING]
GO
ALTER TABLE [dbo].[TS_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_TS_LANGUAGE_TD_AUDITING] FOREIGN KEY([LNG_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TS_LANGUAGE] CHECK CONSTRAINT [FK_TS_LANGUAGE_TD_AUDITING]
GO
ALTER TABLE [dbo].[TS_REASON]  WITH CHECK ADD  CONSTRAINT [FK_TS_REASON_TD_AUDITING] FOREIGN KEY([RSN_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO
ALTER TABLE [dbo].[TS_REASON] CHECK CONSTRAINT [FK_TS_REASON_TD_AUDITING]
GO
ALTER TABLE [dbo].[TS_REASON]  WITH CHECK ADD  CONSTRAINT [FK_TS_REASON_TS_LANGUAGE] FOREIGN KEY([RSN_LNG_ID])
REFERENCES [dbo].[TS_LANGUAGE] ([LNG_ID])
GO
ALTER TABLE [dbo].[TS_REASON] CHECK CONSTRAINT [FK_TS_REASON_TS_LANGUAGE]
GO
ALTER TABLE [dbo].[TS_REASON_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_TS_REASON_LANGUAGE_TS_LANGUAGE] FOREIGN KEY([RLG_LNG_ID])
REFERENCES [dbo].[TS_LANGUAGE] ([LNG_ID])
GO
ALTER TABLE [dbo].[TS_REASON_LANGUAGE] CHECK CONSTRAINT [FK_TS_REASON_LANGUAGE_TS_LANGUAGE]
GO
ALTER TABLE [dbo].[TS_REASON_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_TS_REASON_LANGUAGE_TS_REASON] FOREIGN KEY([RLG_RSN_ID])
REFERENCES [dbo].[TS_REASON] ([RSN_ID])
GO
ALTER TABLE [dbo].[TS_REASON_LANGUAGE] CHECK CONSTRAINT [FK_TS_REASON_LANGUAGE_TS_REASON]
GO
ALTER TABLE [dbo].[TS_FORMAT]  WITH CHECK ADD  CONSTRAINT [CK_FRM_DIRECTION] CHECK  (([FRM_DIRECTION]='UPLOAD' OR [FRM_DIRECTION]='DOWNLOAD'))
GO
ALTER TABLE [dbo].[TS_FORMAT] CHECK CONSTRAINT [CK_FRM_DIRECTION]
GO

ALTER TABLE [dbo].[TD_THEME]  WITH CHECK ADD  CONSTRAINT [FK_TD_THEME_TS_LANGUAGE] FOREIGN KEY([THM_LNG_ID])
REFERENCES [dbo].[TS_LANGUAGE] ([LNG_ID])
GO

ALTER TABLE [dbo].[TD_THEME]  WITH CHECK ADD  CONSTRAINT [FK_TD_THEME_TD_AUDITING] FOREIGN KEY([THM_DTG_ID])
REFERENCES [dbo].[TD_AUDITING] ([DTG_ID])
GO

ALTER TABLE [dbo].[TD_THEME] ADD  CONSTRAINT [THM_CODE_SEQUENCE]  DEFAULT (NEXT VALUE FOR [dbo].[THM_CODE_seq]) FOR [THM_CODE]
GO

ALTER TABLE TD_SUBJECT ADD  SBJ_THM_ID INT NOT NULL CONSTRAINT THM_TEMP_CONSTRAINT DEFAULT(1) WITH VALUES
ALTER TABLE TD_SUBJECT DROP CONSTRAINT THM_TEMP_CONSTRAINT

ALTER TABLE [dbo].[TD_THEME] ADD  CONSTRAINT [DF_TD_THEME_THM_DELETE_FLAG]  DEFAULT ((0)) FOR [THM_DELETE_FLAG]

ALTER TABLE [dbo].[TD_SUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_TD_SUBJECT_TD_THEME] FOREIGN KEY([SBJ_THM_ID])
REFERENCES [dbo].[TD_THEME] ([THM_ID])
GO

ALTER TABLE [dbo].[TD_SUBJECT] CHECK CONSTRAINT [FK_TD_SUBJECT_TD_THEME]
GO


ALTER TABLE [dbo].[TD_THEME_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_TD_THEME_LANGUAGE_TD_THEME] FOREIGN KEY([TLG_THM_ID])
REFERENCES [dbo].[TD_THEME] ([THM_ID])
GO

ALTER TABLE [dbo].[TD_THEME_LANGUAGE] CHECK CONSTRAINT [FK_TD_THEME_LANGUAGE_TD_THEME]
GO

ALTER TABLE [dbo].[TD_THEME_LANGUAGE]  WITH CHECK ADD  CONSTRAINT [FK_TD_THEME_LANGUAGE_TS_LANGUAGE] FOREIGN KEY([TLG_LNG_ID])
REFERENCES [dbo].[TS_LANGUAGE] ([LNG_ID])
GO

ALTER TABLE [dbo].[TD_THEME_LANGUAGE] CHECK CONSTRAINT [FK_TD_THEME_LANGUAGE_TS_LANGUAGE]
GO
