SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE
	OR

ALTER PROCEDURE [dbo].[Subscription_Subscriber_ReadKeys]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT DISTINCT SBR_KEY AS SbrKey
	FROM TD_SUBSCRIBER
	WHERE SBR_DELETE_FLAG = 0;
END
