/*******************************************************************************
Footer - https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
*******************************************************************************/

#content {
    /* Footer height + 2rem */
    padding-bottom: 15rem;
}

#footer .footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
}